#home-tech-wrap{
   background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAIAAADZSiLoAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3AcEDDI2v7oFPwAAACFJREFUCNcFwQcBAAAIw7Cd+vc3NZB4myQgtiW1BUhydw9P4gW6DNHnPgAAAABJRU5ErkJggg==");
   background-position:top left;
}
.navbar-fixed-top {
    box-shadow:0 -18px 20px -20px #200 inset;
}
.navbar-fixed-top .nav > li{
   margin-left:10px;
}
.navbar-fixed-top .brand{
   background:url('../img/cleverlogo.png') center top no-repeat;
   height:15px;
   overflow:hidden;
   text-indent:-400%;
   width:163px;
}
.navbar-fixed-top .btn-group .btn {
   font-weight:bold;
    box-shadow: 0 -1px 0 #9F3A40, 0 1px 0 #662829, 0 2px 0 #501011, 0 0 0 1px #501011, 0 0 2px 3px #5B1D1E, 0 0 0 3px #501011, 0 1px 0 3px #AA5566, 0 0 1px 3px #AA5566, 0 25px 20px -20px #AA292D inset;
}
.btn-group > .btn:first-child {
    border-radius: 2px !important;
    padding-left:20px;
    padding-right:20px;
}
.page-header{
   border-bottom:1px solid #ddd;
   box-shadow:0 1px 0 #fcfcfc;
   padding-bottom:6px;
}
.cc-hero-unit .btn-primary {
    background: none repeat scroll 0 0 #F2F2F2;
    box-shadow: 0 -38px 20px -20px #AAAAAA inset, 0 0 0 2px #552222, 0 0 0 3px #773322;
    color: #501011;
    font: 19px/24px sans-serif;
    text-shadow: none;
    text-transform: uppercase;
}
body{   
   background-color:#f6f6f6;
}
.thumbnail,a.thumbnail:hover{
   border:none;
   box-shadow:none;
}
#home-page{
   background:url('../img/wave-top.png') center bottom repeat-x;
   padding-bottom:60px;
}
#home-fuel{
   background:url('../img/big-shadow-top.png') center top no-repeat;
}
#home-page,
#home-advantages{
   padding-top:30px;
}
   #home-advantages h2,
   #home-advantages h3{
      font-size:24px;
      line-height:32px;
      padding-bottom:10px;
   }
   #home-advantages i[class*="cc-icon-"]{
      left:-32px;
      position:relative;
      top:-4px;
   }
#home-advantages > .span8 .span4 h3,
#home-advantages > .span8 .span4 p{
   border-left:1px solid #3f3f3f;
   margin-bottom:0;
   padding-left:20px;
}
#home-advantages > .span8 .row p{
   min-height:110px;
}
#home-advantages > .span8 .row:last-child p{
   min-height:0;
   padding-bottom:40px;
}
#home-advantages > .span8 p{
   padding-bottom:20px;
}
#home-tech{
   border-bottom:1px solid #c5c5c5;
}
#home-advantages > .span4 p,
#home-tech p,
#home-fuel p{
   font-size:16px;
}
#home-fuel-wrap{
   background:url('../img/wave-bottom.png') center top repeat-x;
}
#home-fuel{
   background-position:center bottom;
   min-height:140px;
   padding-top:130px;
}
   #home-fuel p{
      padding-top:10px;
   }
#home-bottom{
   background: #fcfcfc;
   padding-top:10px;
}
   #home-bottom ol li{
      font-family:'CreteRoundRegular';
      font-size:20px;
      margin:5px 0 10px;
   }
   #home-bottom ol li+li{
      color:#999;
   }
   #home-partners h2{
      font-family:'CreteRoundItalic';
   }
#home-partners+.thumbnails img{
   height:60px;
}
#footer{
   background:#f6f6f6;
   border-top:1px solid #d6d6d6;
   color:#c4c4c4;
   padding-top:10px;
}
   #footer .nav-header{
      font-family:'CreteRoundRegular';
      font-size:16px;
      text-transform:none;
   }
   #footer .nav-list{
      padding:0;
   }
   #footer .nav-list > li{
      margin:0;
   }
   #footer .nav-list > .nav-header{
      display:table-cell;
      font-size:17px;
      height:50px;
      padding:5px 0 10px;
      vertical-align:bottom;
      width:100%;
   }
   #footer .nav-list > .nav-header + li{
      border-top:1px solid #fff;
      box-shadow:0 -1px 0 #d6d6d6;
   }
   #footer .nav-list > li > a{
      border:none;
      box-shadow:none;
      color:#c4c4c4;
      font-size:14px;
      height:auto;
      padding:5px 0;
      margin:0;
   }
.page p{
   margin-bottom:30px;
}
#partners-page > .row{
   min-height:120px;
}
#partners-page .intro{
   color:#888;
   font-style:italic;
   margin-bottom:10px;
}
#partners-page .thumbnail{
   padding:20px 0;
}
#partners-page .thumbnail img{
   max-height:65px;
}
#solution-navbar{
   background:#222;
   box-shadow:0 10px 20px #444 inset;
}
#solution-navbar a{
   color:#fff;
}
#part-summary{
   border-top:1px solid #ccc;
}
#part-summary .span4{
   padding:20px;
   -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
           box-sizing:border-box;
}
#part-summary .span4+.span4{
   border-left:1px solid #ccc;
}
.solution-page .container{
   padding-top:40px;
}
.solution-page .container p{
   font-size:120%;
   line-height:120%;
   text-align:justify;
}
.solution-page .row{
   margin-bottom:40px;
}
.solution-page iframe{
   display:block;
   margin:auto;
}
#lang-display img+img{
   margin:30px;
}
#part-by-cc{
   box-shadow:0 2px 2px #111 inset;
   background:#222;
   background:-moz-radial-gradient(#444, #222222);
   color:#faf8f9;
}
#part-by-cc .container{
   background:url("/img/solution/server.png") center right no-repeat;
   height:250px;
}
#part-code-as-you-are{
   background:url("/img/solution/bg-carreau2.jpg");
}
#part-code-as-you-are .container{
   background:url("/img/solution/codeas.png") bottom left no-repeat;
   height:379px;
   
}
#part-code-as-you-are,#part-easy-use{
   box-shadow:0 -4px 4px -4px #aaa inset;
}
#part-scalable-as-hell{
   box-shadow:0 -50px 50px -50px #aaa inset;
}
#part-scalable-as-hell .container{
   background:url("/img/solution/courbe.png") center no-repeat;
   height:501px;
   
}
#part-peering,#part-self-service,#part-easy-use{
   background:#eee;
   background:-moz-linear-gradient(top,#fcfcfc,#f5f5f5);
}
#part-peering .container{
   background:url("/img/solution/map.png") center left no-repeat;
   height:390px;
   
}
#part-drop{
   background:url("/img/solution/bg-carreau1.jpg");
   box-shadow:0 -80px 80px -50px #300 inset,
              0 50px 30px -50px #300 inset;
   color:#faf8f9;
}
#part-drop .container{
   background:url("/img/solution/drops.png") bottom left no-repeat;
   height:335px;
   
}
#part-self-service .container{
   background:url("/img/solution/server-top.png") bottom right no-repeat;
   height:300px;
}
#part-optimum-security{
   background:url("/img/solution/bg-carreau2.jpg");
   box-shadow:0 -4px 4px -4px #aaa inset,
              0 50px 30px -50px #aaa inset;
}
#part-optimum-security .container{
   background:url("/img/solution/server-bottom.png") bottom right no-repeat;
   height:399px;
}
#part-easy-use .container{
   background:url("/img/solution/scala-box.png") 80% 60% no-repeat;
   height:350px;
}
#part-real-time{
   background:#fafafa;
}
#illus-dashboard{
   margin-top:-96px;
}
.part-innovation .navbar .nav .active > a:after,
.part-innovation .navbar .nav > li > a:hover:after,
.part-innovation .navbar .nav > li > a:focus:after{
   background:#2a2a2a;
   box-shadow:2px 2px 2px #111 inset;
}
@media(max-width:767px){
   #home-page,#home-tech-wrap,#home-fuel-wrap,#home-bottom,#footer,
   #home-advantages,#home-fuel{
      margin-left:-20px;
      margin-right:-20px;
      padding-left:20px;
      padding-right:20px;
   }
   #home-advantages > .span8 .row:last-child .span4:last-child:after{
      border:2px solid #3f3f3f;
      border-radius:7px;
      content:" ";
      display:block;
      height:7px;
      left:-5px;
      position:relative;
      top:-2px;
      width:7px;
   }
}
@media(min-width:768px){
   .cc-hero-unit .container{
      background:url('../img/dropgun.png') left bottom no-repeat;
      padding:160px 0;
   }
   #home-bottom .span7{
      margin-top:-200px;
   }
   #home-advantages > .span8 .row:last-child .span4:after{
      border:2px solid #3f3f3f;
      border-radius:7px;
      content:" ";
      display:block;
      height:7px;
      left:-5px;
      position:relative;
      top:-2px;
      width:7px;
   }
}
