#home-tech-wrap{
   background-image:url('data:image/png; base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAIAAADZSiLoAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3AcDDSEHE54WGQAAABtJREFUCNdjvHnzJgMDAwcHBxMDDLBwcHBAWABKkALD9/AmnAAAAABJRU5ErkJggg==');
}
.page-header{
   border-bottom:1px solid #ddd;
   box-shadow:0 1px 0 #fcfcfc;
   padding-bottom:6px;
}
body{   
   background-color:#f6f6f6;
}
.thumbnail{
   border:none;
   box-shadow:none;
}
#home-page{
   background:url('../img/wave-top.png') center bottom repeat-x;
   padding-bottom:60px;
}
#home-advantages,#home-fuel{
   background:url('../img/big-shadow-top.png') center top no-repeat;
}
#home-page,
#home-advantages{
   padding-top:30px;
}
   #home-advantages h2,
   #home-advantages h3{
      font-size:24px;
      line-height:32px;
      padding-bottom:10px;
   }
#home-advantages > .span8 .span4 h3,
#home-advantages > .span8 .span4 p{
   border-left:1px solid #3e3d3d;
   margin-bottom:0;
   padding-left:20px;
}
#home-advantages > .span8 .row p{
   height:110px;
}
#home-advantages > .span8 .row:last-child p{
   height:auto;
   padding-bottom:40px;
}
#home-advantages > .span8 p{
   padding-bottom:20px;
}
#home-tech{
   border-bottom:1px solid #aaa;
}
#home-advantages > .span4 p,
#home-tech p,
#home-fuel p{
   font-size:16px;
}
#home-fuel-wrap{
   background:url('../img/wave-bottom.png') center top repeat-x;
}
#home-fuel{
   background-position:center bottom;
   min-height:140px;
   padding-top:130px;
}
   #home-fuel p{
      padding-top:10px;
   }
#home-bottom{
   background: #fcfcfc;
   padding-top:10px;
}
   #home-bottom ol li{
      font-family:'CreteRoundRegular';
      font-size:20px;
      margin:5px 0 10px;
   }
   #home-bottom ol li+li{
      color:#999;
   }
   #home-partners h2{
      font-family:'CreteRoundItalic';
   }
#footer{
   background-color:#f6f6f6;
   border-top:1px solid #d6d6d6;
   color:#c4c4c4;
   padding-top:10px;
}
   #footer .nav-header{
      font-family:'CreteRoundRegular';
      font-size:16px;
      text-transform:none;
   }
   #footer .nav-list{
      padding:0;
   }
   #footer .nav-list > li{
      margin:0;
   }
   #footer .nav-list > .nav-header{
      display:table-cell;
      padding:5px 0 10px;
      height:50px;
      vertical-align:bottom;
      width:100%;
   }
   #footer .nav-list > .nav-header + li{
      border-top:1px solid #fff;
      box-shadow:0 -1px 0 #d6d6d6;
   }
   #footer .nav-list > li > a{
      border:none;
      box-shadow:none;
      color:#c4c4c4;
      height:auto;
      padding:5px 0;
      margin:0;
   }
.page p{
   margin-bottom:30px;
}
#partners-page .thumbnail{
   background:#fcfcfc;
}
@media(max-width:767px){
   #home-page,#home-tech-wrap,#home-fuel-wrap,#home-bottom,#footer{
      margin-left:-20px;
      margin-right:-20px;
      padding-left:20px;
      padding-right:20px;
   }
}
@media(min-width:768px){
   #home-bottom .span7{
      margin-top:-200px;
   }
}
