/* coding rules:
 * tab width = 2
 * all spaces
 * 
 * naming convention:
 * cc_ prefix
 * __  component part
 * --  variant
 * example: cc_alert--info__close = style that is specific to the close button
 *                                  of the info alert box only.
 * more about this: engineering.appfolio.com/2012/11/16/css-architecture
 */

// colors

@red:       #6e2627;
@darkred:   #371513;
@lightgrey: #cdcdcd;
@grey:      #ababab;
@darkgrey:  #3f3f3f;
@black:     #000;
@white:     #fff;

// fonts

@iconic-font: "Clever Icons", monospace;
@main-font:   "Helvetica", "DejaVu Sans", "Arial", sans-serif;

// font sizes

@text:  14px;
@textL: (@text * 1.10);

// atoms

.cc_bleed(@color, @depth) {
  box-shadow: 0 0 0 @depth @color;
}

.cc_box(@bg, @fg) {
  background: @bg;
  color:      @fg;
  a {
    color: @fg;
  }
}

.cc_rounded {
  border-radius: 4px;
}
