{%assign lg = page.lang%}
<!-- slider -->
<section id="slider">
	{%for slide in site.categories.slides%}
	{%if slide.categories[0] == lg%}
	<article class="slide">
		<h3>{{slide.title}}</h3>
		{{slide.content}}
	</article>
	{%endif%}
	{%endfor%}
	<menu type="toolbar">
		<button class="prev" href="#">{{site.i18n[lg].slider.prev}}</button>
		<button class="next" href="#">{{site.i18n[lg].slider.next}}</button>
	</menu>
</section>
<!-- sign up form -->
<form action="?" method="POST">
	<input id="signup-mail" type="mail" placeholder="{{site.i18n[lg].signup.mail}}" required/>
	<input id="signup-pass" type="password" placeholder="{{site.i18n[lg].signup.pass}}" required/>
	<input id="signup-confirm" type="password" placeholder="{{site.i18n[lg].signup.confirm}}" required/>
	<input type="submit" value="{{site.i18n[lg].signup.submit}}"/>
</form>
<!-- presentation -->
<section id="presentation">
	<h1>{{page.title}}</h1>
	{{content}}
</section>
<!-- technologies -->
<!-- references -->
<section id="references">
	{%for ref in site.categories.references limit:8%}
	{%if ref.categories[0] == lg%}
	<article class="reference">
		<h3>{{ref.title}}</h3>
		{{ref.content}}
	</article>
	{%endif%}
	{%endfor%}
</section>
