<div class="cc_footer">
  <div class="container">
    <div class="cc_row">
      <div class="span3">
        <ul class="cc_footer__link__list">
          <li class="cc_footer__link__title">$col1Title$</li>
          <li class="cc_footer__link__item"><a href="/$urllang$$col1elt1url$" >$col1elt1$</a></li>
          <li class="cc_footer__link__item"><a href="/$urllang$$col1elt2url$" >$col1elt2$</a></li>
          <li class="cc_footer__link__item"><a href="/$urllang$$col1elt3url$" >$col1elt3$</a></li>
          <li class="cc_footer__link__item"><a target="_blank" href="$col1elt4url$" >$col1elt4$</a></li>
          <li class="cc_footer__link__item"><a target="_blank" href="$col1elt5url$" >$col1elt5$</a></li>
        </ul>
      </div>
      <div class="span3">
        <ul class="cc_footer__link__list">
          <li class="cc_footer__link__title">$col2Title$</li>
          <li class="cc_footer__link__item"><a href="/$urllang$$col2elt1url$" >$col2elt1$</a></li>
          <li class="cc_footer__link__item"><a href="/$urllang$$col2elt2url$" >$col2elt2$</a></li>
          <li class="cc_footer__link__item"><a href="$col2elt3url$" >$col2elt3$</a></li>
          <li class="cc_footer__link__item"><a target="_blank" href="$col3elt1url$" >$col2elt4$</a></li>
        </ul>
      </div>
      <div class="span3">
        <ul class="cc_footer__link__list">
          <li class="cc_footer__link__title">$col3Title$</li>
          <form method="POST" action="" class="clearfix" id="ml_subscribe">
          <div class="clearfix">
            <input type="text" name="ml_email" class="cc_footer_mailingform" placeholder="Votre email">
            <a href="#" class="cc_btn--small" title="Envoyer"><i class="icon-ok-sign"></i></a>
          </div>
          <div class="message success-message" style="display: none;">$col3ok$</div>
          <div class="message warning-message" style="display: none;">$col3warn$</div>
          </form>
        </ul>
      </div>
      <div class="span3">
        <ul class="cc_footer__link__list">
          <li class="cc_footer__link__title">$col4Title$</li>
          <li class="cc_footer__link__item"><a href="/$urllang$$col4elt1url$" >$col4elt1$</a></li>
          <li class="cc_footer__link__item"><a href="/$urllang$$col4elt2url$" >$col4elt2$</a></li>
          <li class="cc_footer__link__item"><a href="/$urllang$$col4elt3url$" >$col4elt3$</a></li>
        </ul>
      </div>
      <div class="span3">
        <ul class="cc_footer__link__list">
          <li class="cc_footer__link__title">$col5Title$</li>
          <li class="cc_footer__link__item"><a target="_blank" href="$col5elt1url$" >$col5elt1$</a></li>
          <li class="cc_footer__link__item"><a target="_blank" href="$col5elt2url$" >$col5elt2$</a></li>
          <li class="cc_footer__link__item"><a target="_blank" href="$col5elt3url$" >$col5elt3$</a></li>
          <li class="cc_footer__link__item"><a target="_blank" href="$col5elt4url$" >$col5elt4$</a></li>
          <li class="cc_footer__link__item"><a target="_blank" href="$col5elt5url$" >$col5elt5$</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>