  <h2 class="cc_title--striked">
    <span class="cc_title--striked__text">
       $langtitle$
    </span>
  </h2>
  <div class="cc_instance__list">
    <div class="cc_instance__item">
      <img src="/assets/img/128px/php.png" alt="instance"/>
      <h3 class="cc_instance__title">
        PHP
      </h3>
    </div>
    <div class="cc_instance__item">
      <img src="/assets/img/128px/ruby.png" alt="instance"/>
      <h3 class="cc_instance__title">
        Ruby
      </h3>
    </div>
    <div class="cc_instance__item">
      <img src="/assets/img/128px/java.png" alt="instance"/>
      <h3 class="cc_instance__title">
        Java
      </h3>
    </div>
    <div class="cc_instance__item">
      <img src="/assets/img/128px/scala.png" alt="instance"/>
      <h3 class="cc_instance__title">
        Scala
      </h3>
    </div>
    <div class="cc_instance__item">
      <img src="/assets/img/128px/nodejs.png" alt="instance"/>
      <h3 class="cc_instance__title">
        NodeJS
      </h3>
    </div>
  </div>
  