<div class="container">
  <div class="row">
    <div class="cc_headbar__branding span9">
      <a class="cc_headbar__logo cc_icon--bottle cc_icon" href="/">&nbsp;clever cloud</a>
    </div>
    <div class="span7 cc_headbar__menu">
      <a class="cc_headbar__btn" href="/discover">$discover$</a>
      <a class="cc_headbar__btn" href="/pricing">$pricing$</a>
      <a class="cc_headbar__btn" href="/compatibility">$compatibility$</a>
      <a class="cc_headbar__btn" href="/support">$support$</a>
      <a class="cc_headbar__btn cc_login__btn" target="_blank" href="https://console.clever-cloud.com">$login$</a>
    </div>
  </div>
</div>