<div class="container">
  <div class="row">
    <div class="cc_headbar__branding span8">
      <a class="cc_headbar__logo cc_icon--bottle cc_icon" href="/$urllang$">&nbsp;&nbsp;clever cloud</a>
    </div>
    <div class="span8 cc_headbar__menu">
      <a class="cc_headbar__btn nav-tour" href="/$urllang$tour.html">$discover$</a>
      <a class="cc_headbar__btn nav-pricing" href="/$urllang$pricing.html">$pricing$</a>
      <a class="cc_headbar__btn nav-compatibility" href="/$urllang$compatibility.html">$compatibility$</a>
      <a class="cc_headbar__btn nav-doc" href="http://doc.clever-cloud.com" target="_blank">$documentation$</a>
      <a class="cc_headbar__btn nav-login cc_login__btn" target="_blank" href="https://console.clever-cloud.com">$login$</a>
    </div>
  </div>
</div>
<div class="choose_language">
  <a class="cc_headbar__btn" href="/$linkOtherLanguage$">$otherLanguage$</a>
</div>