<section id="vision">
  <div class="container cc_pricing__intro">
    <div class="row-fluid">
      <div class="span12">
          <h1>$blockTitle$</h1>
      </div>
    </div>
  </div>
  <div class="container cc_pricing_vision">
    <div class="row-fluid row1">
      <div class="span8">
        $block1$
      </div>
      <div class="span7 offset1 dropgunimg">
        <img src="/assets/img/dropgun.png">
      </div>
    </div>
    <div class="row-fluid row2">
      <div class="span8">
        <img src="/assets/img/scaler.jpg">
      </div>
      <div class="span8">
        $block2$
      </div>
    </div>
  </div>
</section>