<section id="services" class="container cc_pricing__services">
  <div class="row-fluid">
    <div class="span12">
        <h1>$title$</h1>
    </div>
  </div>
  <div class="row-fluid cc_pricing__services__row1">
    <div class="span6">
      <div class="row-fluid">
        <div class="span5 cc_pricing__services__img">
          <img src="/assets/img/128px/mysql.png">
        </div>
        <div class="span5"></div>
        <div class="span5 cc_pricing__services__img">
          <img src="/assets/img/128px/postgresql.png">
        </div>
      </div>
      <div class="row-fluid">
        <div class="span5 cc_pricing__services__img">
          MySQL
        </div>
        <div class="span5 cc_pricing__services__and">$and$</div>
        <div class="span5 cc_pricing__services__img">
          PostgreSQL
        </div>
      </div>
    </div>
    <div class="span10 cc_pricing__services_right">
      <table class='table-pricing-services'>
        <thead>
          <tr>
            <td></td>
            <td class="cell-center">S</td>
            <td class="cell-center">M</td>
            <td class="cell-center">L</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>$connections$</td>
            <td class="cell-center">15</td>
            <td class="cell-center">30</td>
            <td class="cell-center">40</td>
          </tr>
          <tr>
            <td>$size$</td>
            <td class="cell-center">1 Go</td>
            <td class="cell-center">5 Go</td>
            <td class="cell-center">10 Go</td>
          </tr>
          <tr>
            <td>$price$</td>
            <td class="cell-center"><b>7 €/$month$</b><br/>(0,23 €/$day$)</td>
            <td class="cell-center"><b>35 €/$month$</b><br/>(1,17 €/$day$)</td>
            <td class="cell-center"><b>70 €/$month$</b><br/>(2,33 €/$day$)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <div class="row-fluid">
        <div class="span5 cc_pricing__services__img">
          <img src="/assets/img/128px/mongodb.png">
        </div>
        <div class="span5"></div>
        <div class="span5 cc_pricing__services__img">
          <img src="/assets/img/128px/couchbase.png">
        </div>
      </div>
      <div class="row-fluid">
        <div class="span5 cc_pricing__services__img">
          MongoDB
        </div>
        <div class="span5 cc_pricing__services__and">$and$</div>
        <div class="span5 cc_pricing__services__img">
          Couchbase
        </div>
      </div>
    </div>
    <div class="span10 cc_pricing__services_right cc_pricing__services_right__beta">
      $freepublicbeta$
    </div>
  </div>
</section>