<div class="services_supported">
  <div class="container">
    <h2 class="cc_title--striked">
      <span class="cc_title--striked__text">
         $servicetitle$
      </span>
    </h2>
    <div class="cc_service__list">
      <a href="/$urllang$services/mysql.html">
        <div class="cc_service__item">
          <img src="/assets/img/64px/mysql.png" alt="instance"/>
          <h3 class="cc_service__title">
            MySQL
          </h3>
        </div>
      </a>
      <a href="/$urllang$services/mongodb.html">
        <div class="cc_service__item">
          <img src="/assets/img/64px/mongodb.png" alt="instance"/>
          <h3 class="cc_service__title">
            MongoDB
          </h3>
        </div>
      </a>
      <a href="/$urllang$services/postgresql.html">
        <div class="cc_service__item">
          <img src="/assets/img/64px/postgresql.png" alt="instance"/>
          <h3 class="cc_service__title">
            PostgreSQL
          </h3>
        </div>
      </a>
      <a href="/$urllang$services/couchbase.html">
        <div class="cc_service__item">
          <img src="/assets/img/64px/couchbase.png" alt="instance"/>
          <h3 class="cc_service__title">
            Couchbase
          </h3>
        </div>
      </a>
      <a href="/$urllang$runtimes/php.html">
        <div class="cc_service__item">
          <img src="/assets/img/64px/wordpress.png" alt="instance"/>
          <h3 class="cc_service__title">
            Wordpress
          </h3>
        </div>
      </a>
      <a href="/$urllang$runtimes/java.html">
        <div class="cc_service__item">
          <img src="/assets/img/64px/play.png" alt="instance"/>
          <h3 class="cc_service__title">
            Play! 1&2
          </h3>
        </div>
      </a>
      <a href="/$urllang$runtimes/php.html">
        <div class="cc_service__item">
          <img src="/assets/img/64px/magento.png" alt="instance"/>
          <h3 class="cc_service__title">
            Magento
          </h3>
        </div>
      </a>
      <a href="/$urllang$runtimes/java.html">
        <div class="cc_service__item">
          <img src="/assets/img/64px/maven.png" alt="instance"/>
          <h3 class="cc_service__title">
            Maven
          </h3>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="langs_services_more">
  <span class="cc_title--striked__text">More soon</span>
</div>