<div class="cc_workflow">
  <div class="container">
    <h2 class="cc_workflow__title">Change the way you work</h2>
    <div class="row cc_workflow__list">
      <div class="span1of3">
        <div class="cc_workflow__block">
          <div class="cc_workflow__item">
            <div class="cc_workflow__item__desc">
              <h3 class="cc_workflow__item__title">Performances et technologies</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <ul class="cc_workflow__feature__list">
              <li class="cc_workflow__feature__item">Intégration zen</li>
              <li class="cc_workflow__feature__item">Intégration zen</li>
              <li class="cc_workflow__feature__item">Intégration zen</li>
              <li class="cc_workflow__feature__item">Intégration zen</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="span1of3">
        <div class="cc_workflow__block">
          <div class="cc_workflow__item">
            <div class="cc_workflow__item__desc">
              <h3 class="cc_workflow__item__title">Performances et technologies</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <ul class="cc_workflow__feature__list">
              <li class="cc_workflow__feature__item">Intégration zen</li>
              <li class="cc_workflow__feature__item">Intégration zen</li>
              <li class="cc_workflow__feature__item">Intégration zen</li>
              <li class="cc_workflow__feature__item">Intégration zen</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="span1of3">
        <div class="cc_workflow__block">
          <div class="cc_workflow__item">
            <div class="cc_workflow__item__desc">
              <h3 class="cc_workflow__item__title">Performances et technologies</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <ul class="cc_workflow__feature__list">
              <li class="cc_workflow__feature__item">Intégration zen</li>
              <li class="cc_workflow__feature__item">Intégration zen</li>
            </ul>
          </div>
        </div>
        <div class="cc_workflow__block--dark">
        	<button class="cc_workflow__btn">See details & pricing</button>
        </div>
      </div>
    </div>
  </div>
</div>