<div class="cc_workflow">
  <div class="container">
    <h2 class="cc_workflow__title">$title$</h2>
    <div class="row cc_workflow__list">
      <div class="span1of3">
        <div class="cc_workflow__block">
          <div class="cc_workflow__item">
            <div class="cc_workflow__item__desc">
              <h3 class="cc_workflow__item__title">$bloc1Title$</h3>
              <p>$bloc1Text$</p>
            </div>
            <ul class="cc_workflow__feature__list">
              <li class="cc_workflow__feature__item">$bloc1Line1$</li>
              <li class="cc_workflow__feature__item">$bloc1Line2$</li>
              <li class="cc_workflow__feature__item">$bloc1Line3$</li>
              <li class="cc_workflow__feature__item">$bloc1Line4$</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="span1of3">
        <div class="cc_workflow__block">
          <div class="cc_workflow__item">
            <div class="cc_workflow__item__desc">
              <h3 class="cc_workflow__item__title">$bloc2Title$</h3>
              <p>$bloc2Text$</p>
            </div>
            <ul class="cc_workflow__feature__list">
              <li class="cc_workflow__feature__item">$bloc2Line1$</li>
              <li class="cc_workflow__feature__item">$bloc2Line2$</li>
              <li class="cc_workflow__feature__item">$bloc2Line3$</li>
              <li class="cc_workflow__feature__item">$bloc2Line4$</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="span1of3">
        <div class="cc_workflow__block">
          <div class="cc_workflow__item">
            <div class="cc_workflow__item__desc">
              <h3 class="cc_workflow__item__title">$bloc3Title$</h3>
              <p>$bloc3Text$</p>
            </div>
            <ul class="cc_workflow__feature__list">
              <li class="cc_workflow__feature__item">$bloc3Line1$</li>
              <li class="cc_workflow__feature__item">$bloc3Line2$</li>
            </ul>
          </div>
        </div>
        <div class="cc_grey__btn_enveloppe">
          <div class="cc_grey__btn">
            <a  class="cc_grey__btn_child_hover" href="/$urllang$pricing.html"><div class="cc_grey__btn__text">$button$</div></a>
            <a class="cc_grey__btn_child_normal" href="/$urllang$pricing.html"><div class="cc_grey__btn__text">$button$</div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>