<div class="cc_tour__block5">
<div class="container">
      <div class="row">
         <div class="span8"><img alt="codeas" src="./assets/img/codeas.png"></div>
         <div class="span8">
            <h2>Support multi-languages</h2>
            <p>
               Scala, PHP, Ruby et Java sont actuellement supportés sur notre
               plateforme. Le support de mySQL est également présent, avec prochainement de nombreux choix de bases de données et de services supplémentaires.
            </p>
            <div class="row cc-tour__block5__lang">
               <div class="span1">
                  <img alt="php" src="./assets/img/128px/java.png">
               </div>
               <div class="span1">
                  <img alt="scala" src="./assets/img/128px/scala.png">
               </div>
               <div class="span1">
                  <img alt="ruby" src="./assets/img/128px/php.png">
               </div>
               <div class="span1">
                  <img alt="java" src="./assets/img/128px/nodejs.png">
               </div>
               <div class="span1">
                  <img alt="node" src="./assets/img/128px/python.png">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>