<div class="cc_tour__block5">
<div class="container">
      <div class="row">
         <div class="span8"><img alt="codeas" src="/assets/img/codeas.png"></div>
         <div class="span8">
            <h2>$multilang$</h2>
            <p>$multilangText$</p>
            <div class="container">
               <div class="row-fluid cc-tour__block5__lang">
                  <div class="cc-tour_block5__img">
                     <img alt="php" src="/assets/img/128px/java.png">
                  </div>
                  <div class="cc-tour_block5__img">
                     <img alt="scala" src="/assets/img/128px/scala.png">
                  </div>
                  <div class="cc-tour_block5__img">
                     <img alt="ruby" src="/assets/img/128px/php.png">
                  </div>
                  <div class="cc-tour_block5__img">
                     <img alt="java" src="/assets/img/128px/nodejs.png">
                  </div>
                  <div class="cc-tour_block5__img">
                     <img alt="node" src="/assets/img/128px/python.png">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
