<div class="cc_tour__selfservice">
  <div class="container">
    <div class="row">
       <div class="span8">
          <h2>$part1Title$</h2>
          <p>$part1Text$</p>
       </div>
       <div class="span7 offset1"><img alt="server top" src="/assets/img/tour/server-top.png"></div>
    </div>
   </div>
</div>
<div class="cc_tour__highend">
  <div class="container">
    <div class="row">
       <div class="span8 cc_tour__highendtext">
          <h2>$part2Title$</h2>
          <p>$part2Text1$</p>
          <p>$part2Text2$</p>
       </div>
       <div class="span7 offset1"><img alt="server bottom" src="/assets/img/tour/server-bottom.png"></div>
    </div>
   </div>
</div>