<div class="cc_tour__block3">
  <div class="container">
    <div class="row cc_tour__block3__block1">
      <div class="span16 cc_tour__block3Text">
        <h1>$blocTitle$</h1>
        <p>$blocSubtitle$</p>
      </div>
    </div>
    <div class="row cc_tour__block4">
      <div class="span4">
        <div class="cc_deploy">
          <div class="cc_deploy__logo">
            <img src="/assets/img/64px/$rowBloc1ImgName$">
          </div>
          <div class="cc_deploy__1">
            <div class="cc_deploy__2">
              <h4>$rowBloc1Header$</h4>
              <p>$rowBloc1Text$</p>
            </div>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="cc_deploy">
          <div class="cc_deploy__logo">
            <img src="/assets/img/64px/$rowBloc2ImgName$">
          </div>
          <div class="cc_deploy__1">
            <div class="cc_deploy__2">
              <h4>$rowBloc2Header$</h4>
              <p>$rowBloc2Text$</p>
            </div>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="cc_deploy">
          <div class="cc_deploy__logo">
            <img src="/assets/img/64px/$rowBloc3ImgName$">
          </div>
          <div class="cc_deploy__1">
            <div class="cc_deploy__2">
              <h4>$rowBloc3Header$</h4>
              <p>$rowBloc3Text$</p>
            </div>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="cc_deploy">
          <div class="cc_deploy__logo">
            <img src="/assets/img/64px/$rowBloc4ImgName$">
          </div>
          <div class="cc_deploy__1">
            <div class="cc_deploy__2">
              <h4>$rowBloc4Header$</h4>
              <p>$rowBloc4Text$</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>