<div class="cc_compatibility ">
  <div class="container cc_compatibility_head">
    <div class="span1of3">
      <h2>$headerTitle$</h2>
      <p>$headerSubtitle$<p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    $block leftbar html$
    <div class="span2of3">
      <div class="row">
        <div class="compat_right_block">
          <h3 class="cc_feature__title">$part1Title$</h3>
          <p>$part1Subtitle$</p>
        </div>
        <div class="compat_right_block">
          <h3 class="cc_feature__title">$part2Title$</h3>
          <p>$part2Subtitle$</p>
        </div>
        <div class="compat_right_block">
          <h3 class="cc_feature__title">$part3Title$</h3>
          <p>$part3Subtitle$
            <ul>
              <li>$part3Point1$</li>
              <li>$part3Point2$</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>