<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Clever Cloud - $title$</title>
  
  <link rel="shortcut icon" href="/assets/img/favicon.png">

  <link media="all" rel="stylesheet" href="/assets/css/all.css" type="text/css"/>
  
 
</head>
<body class="cc">
	<nav class="cc_headbar">
		<div class="container">
			<div class="row">
				<div class="cc_headbar__branding span9">
          <a class="cc_headbar__logo cc_icon--bottle cc_icon" href="/">&nbsp;clever cloud</a>
        </div>
				<div class="span7 cc_headbar__menu">
					<a class="cc_headbar__btn" href="/discover">Discover</a>
					<a class="cc_headbar__btn" href="/pricing">Pricing</a>
					<a class="cc_headbar__btn" href="/compatibility">Compatibilité</a>
					<a class="cc_headbar__btn" href="/support">Support</a>
					<a class="cc_headbar__btn cc_login__btn" href="/login">Login</a>
				</div>
			</div>
		</div>
	</nav>
  <div class="cc_main">
     $body$
  </div>
  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap-transition.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap-carousel.js"></script>
  <script type="text/javascript">
    $('#carousel').carousel();
  </script>
  
  <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-19997759-1']);
          _gaq.push(['_setDomainName', '.clever-cloud.com']);
          _gaq.push(['_trackPageview']);

          (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
       </script>
</body>
</html>
