<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
  <meta name="description" content="$metaDescription$" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Clever Cloud - $title$</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//google-analytics.com">
  <link media="all" rel="stylesheet" href="/assets/css/main.css" type="text/css"/>
  <script type="text/javascript" src="/assets/js/jquery.js"></script>
</head>
<body class="cc">
  <div id="fb-root"></div>
	<nav class="cc_headbar">
		$block navbar html$
	</nav>
  <div class="cc_main">
     $body$
  </div>
  $block footer html$
  <script type="text/javascript" src="/assets/js/EventEmiter.js"></script>
  <script type="text/javascript" src="/assets/js/underscore.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
  <script type="text/javascript" src="/assets/js/jQAllRangeSliders-min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script type="text/javascript" src="/assets/js/pricer.js"></script>
  <script type="text/javascript" src="/assets/js/site.js"></script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-522de775661a4d63"></script>
  
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19997759-1']);
  _gaq.push(['_setDomainName', '.clever-cloud.com']);
  _gaq.push(['_trackPageview']);

  (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=383732858414745";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type='text/javascript'>
  (function() {
  var idz = document.createElement('script'); idz.type = 'text/javascript'; idz.async = true;
  idz.src = document.location.protocol + "//lc.iadvize.com/iadvize.js?sid=10427";
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(idz, s);
  })();
</script>
</body>
</html>
