<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Clever Cloud</title>
  
  <link rel="shortcut icon" href="/assets/img/favicon.png">

  <link media="all" rel="stylesheet" href="/assets/css/main.css" type="text/css"/>
  
 
</head>
<body class="cc">
	<nav class="cc_headbar">
		$block navbar html$
	</nav>
  <div class="cc_main">
     $body$
  </div>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui-1.10.3.custom.min.js"></script>
  <script type="text/javascript" src="/js/site.js"></script>

  
  <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-19997759-1']);
          _gaq.push(['_setDomainName', '.clever-cloud.com']);
          _gaq.push(['_trackPageview']);

          (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
       </script>
</body>
</html>
