<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Welcome on Clever Cloud !" />
    <title>Clever Cloud - Welcome !</title>
    <link rel="shortcut icon" href="/assets/img/favicon.png">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//google-analytics.com">
    <link media="all" rel="stylesheet" href="/assets/css/main.css" type="text/css"/>
  </head>
  <body class="body-hello">
    <div class="container-hello">
      <div class="logo-hello"></div>
      <h1>Your account has been successfully created !</h1>
      <h2>Welcome on Clever Cloud !</h2>
      <div class="text-hello">Check your inbox to validate your account and you will create your first application !</div>
      <div class="hello-buttons">
        <a href="http://doc.clever-cloud.com" class="hello-doc-button" target="_blank">Access documentation</a>
        <br/>
        <a class="hello-back" href="http://www.clever-cloud.com/en">or back to Clever Cloud</a>
      </div>
    </div>
  </body>
</html>