<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Welcome on Clever Cloud !" />
    <title>Clever Cloud - Welcome !</title>
    <link rel="shortcut icon" href="/assets/img/favicon.png">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//google-analytics.com">
    <link media="all" rel="stylesheet" href="/assets/css/main.css" type="text/css"/>
  </head>
  <body class="body-hello">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="container-hello">
      <div class="logo-hello"></div>
      <h1>Your account has been successfully created !</h1>
      <h2>Welcome on Clever Cloud !</h2>
      <div class="text-hello">Check your inbox to validate your account and you will create your first application !</div>
      <div class="share-twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.clever-cloud.com/en" data-text="I just opened an account on Clever Cloud ! #paas #cloud" data-via="Clever_cloud" data-lang="fr">Tweeter</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </a>
      </div>
      <div class="hello-buttons">
        <a href="http://doc.clever-cloud.com" class="hello-doc-button" target="_blank">Access documentation</a>
        <br/>
      </div>
    </div>
    <div class="container-hello-footer">
      <div class="hello-footer">
        <div class="contact-block">
          <h2>Questions, remarks or improvements ? Feel free to poke us !</h2>
          <div class="span-column-contact">
            <span class="subsubtile">Back to Clever Cloud</span>
            <p><a class="hello-back" href="http://www.clever-cloud.com/en">Clever Cloud</a></p>
          </div>
          <div class="span-column-contact">
            <span class="subsubtile">Mail</span>
            <p><a mailto="support@clever-cloud.com">support@clever-cloud.com</a></p>
          </div>
          <div class="span-column-contact">
            <span class="subsubtile">IRC</span>
            <p><a href="irc://irc.freenode.net:6667/clevercloud">#clevercloud sur irc.freenode.net</a></p>
          </div>
        </div>
        <div class="hello-social">
          <div class="hello-social-child hello-social-twitter">
            <a href="https://twitter.com/Clever_Cloud" class="twitter-follow-button" data-show-count="false" data-lang="fr">Suivre @Clever_Cloud</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>
          <div class="hello-social-child hello-social-facebook">
            <div class="fb-like-box" data-href="https://www.facebook.com/clevercloudsas" data-width="292" data-show-faces="false" data-stream="false" data-show-border="false" data-header="false"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>