	<div class="cc_panorama"></div>
	<header class="container cc_hero">
    <div class="row">
    	<div class="span9">
        <div class="cc_hero__video">
          <iframe class="cc_hero__iframe" width="100%" src="$videoUrl$" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    	<div class="span7">
        <div class="cc_hero__headline">
          <h1 class="cc_hero__title">$bloc1Title$</h1>
          <h2 class="cc_hero__desc">$bloc1Subtitle$</h2>
          <a class="cc_btn--success" href="https://console.clever-cloud.com/auth/signup" target="_blank">$bloc1Button$</a>
          <p>
            <div class="fb-like" data-href="https://www.facebook.com/clevercloudsas" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="lucida grande" data-action="recommend"></div>
          </p>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row cc_feature__list">
      <div class="cc_hero__text">
        <h3>$bloc2Text$</h3>
      </div>
    </div>
    
    
  $block quick_support html$
  $block thewayyouwork html$
  
   
  <div class="container">
    <h2 class="cc_slider__title">$catchPhraseSlider$</h2>
    <div id="carousel" class="carousel slide cc_slider__box">
      <ol class="carousel-indicators cc_slider__controls">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/assets/img/slider/apps.png" alt="slide"/>
        </div>
        <div class="item">
          <img src="/assets/img/slider/services.png" alt="slide"/>
        </div>
        <div class="item">
          <img src="/assets/img/slider/members.png" alt="slide"/>
        </div>
      </div>
    </div>
  </div>
  <div class="cc_people">
    <div class="container">
      <!-- 
      <div class="row">
        <div class="span1of3">
          <div class="cc_people__header cc_side-header">
            <h2 class="cc_side-header__title">Nos références</h2>
            <a href="#" class="cc_people__btn">Voir les cas clients</a>
          </div>
        </div>
        <div class="span2of3 cc_reference__list">
          <img src="/assets/img/reference-placeholder.png" alt="" class="cc_reference__item"/>
          <img src="/assets/img/reference-placeholder.png" alt="" class="cc_reference__item"/>
          <img src="/assets/img/reference-placeholder.png" alt="" class="cc_reference__item"/>
          <img src="/assets/img/reference-placeholder.png" alt="" class="cc_reference__item"/>
          <img src="/assets/img/reference-placeholder.png" alt="" class="cc_reference__item"/>
          <img src="/assets/img/reference-placeholder.png" alt="" class="cc_reference__item"/>
        </div>
      </div>-->
      <div class="row cc_partner">
        <div class="span1of3">
          <div class="cc_side-header">
            <h2 class="cc_side-header__title">$partnerTitle$</h2>
            <!--<a href="#" class="cc_people__btn cc_partner__btn">Voir les détails</a>-->
          </div>
        </div>
        <div class="span2of3 cc_partner__list">
          <div class="row-fluid cc_partner__row">
            <div class="span4 cc_partner__span">
              <img class="cc_partner__item" src="/assets/img/partners/kimaventures.png" alt="partner"/>
            </div>
            <div class="span4 cc_partner__span">
              <img class="cc_partner__item" src="/assets/img/partners/comodo.png" alt="partner"/>
            </div>
            <div class="span4 cc_partner__span">
              <img class="cc_partner__item" src="/assets/img/partners/iliad.png" alt="partner"/>
            </div>
            <div class="span4 cc_partner__span">
              <img class="cc_partner__item" src="/assets/img/partners/redhat.png" alt="partner"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row cc_press">
        <div class="span1of3">
          <div class="cc_people__header cc_side-header">
            <h2 class="cc_side-header__title">$pressTitle$</h2>
            <!--
            <a href="#" class="cc_people__btn">Espace presse</a>
            -->
          </div>
        </div>
        <div class="span2of3 cc_press__list">
          <div class="row-fluid">
            <div class="span4 cc_press__span">
              <a target="_blank" href="http://startup.blogs.challenges.fr/archive/2012/09/01/nantes-vs-paris-le-match.html"><img class="cc_press__item" src="/assets/img/press/challengeslogo.png" alt="press"/></a>
            </div>
            <div class="span4 cc_press__span">
              <a href="http://entrepreneur.lesechos.fr/entreprise/financement/actualites/video-quentin-adam-clever-cloud-xavier-niel-lui-a-dit-banco-10024132.php"><img class="cc_press__item" src="/assets/img/press/echoslogo.png" alt="press"/></a>
            </div>
            <div class="span4 cc_press__span">
              <a target="_blank" href="http://www.rudebaguette.com/2012/10/17/clever-cloud-launch/"><img class="cc_press__item" src="/assets/img/press/rudebaguette.png" alt="press"/></a>
            </div>
            <div class="span4 cc_press__span">
              <a target="_blank" href="http://frenchweb.fr/frenchweb-tour-nantes-clevercloud-nous-avons-deja-400-machines-physiques-rackees-en-production/118066"><img class="cc_press__item" src="/assets/img/press/frenchweb.png" alt="press"/></a>
            </div>
          </div>
        </div>
      </div>
      <div class="arrow-down"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span1of3">
        <div class="cc_side-header cc_subscribe__header">
          <h2 class="cc_side-header__title cc_subscribe__title">$signupCatch$</h2>
        </div>
      </div>
      <div class="span2of3">
        <div class="row-fluid">
          <!--<div class="span7 offset5">-->
          <div class="span16">
            <form class="cc_subscribe__form" METHOD="POST" action=" https://console.clever-cloud.com/ccapi/v1/users">
              <div class="cc_subscribe__field">
                <input class="cc_subscribe__input" name="email" type="email" placeholder="$emailPlaceholder$"/>
              </div>
              <div class="cc_subscribe__field cc_subscribe__field__pwd">
                <input class="cc_subscribe__input" type="password" name="pass" placeholder="$pwdPlaceholder$"/>
                <input type="hidden" name="url_next" value="http://www.clever-cloud.com"/>
              </div>
              <div class="cc_subscribe__field">
                <label class="cc_subscribe__terms">
                  <input type="checkbox" name="terms" value="true" />
                  $signupTermPart1$ <a href="terms-of-sale.html">$signupTermPart2$</a>$signupTermPart3$
                </label>
              </div>
              <button class="cc_subscribe__btn">
                <div class="cc_subscribe__btn_child_hover"><div class="cc_btn__text">$createButton$</div></div>
                <div class="cc_subscribe__btn_child_normal"><div class="cc_btn__text">$createButton$</div></div>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>