	<div class="cc_panorama"></div>
	<header class="container cc_hero">
    <div class="row">
    	<div class="span9">
        <div class="cc_hero__video">
          <iframe class="cc_hero__iframe" width="100%" src="http://www.youtube.com/embed/IV4Bnwluvf4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    	<div class="span7">
        <hgroup class="cc_hero__headline">
          <h1 class="cc_hero__title">Good resolutions?</h1>
          <h2 class="cc_hero__desc">All you can eat on clever until february.</h2>
          <button class="cc_btn--success">Create free account</button>
        </hgroup>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row cc_feature__list">
    	<div class="span4">
    		<h3 class="cc_feature__title">Intégration zen</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    	</div>
    	<div class="span4">
    		<h3 class="cc_feature__title">Intégration zen</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    	</div>
    	<div class="span4">
    		<h3 class="cc_feature__title">Intégration zen</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    	</div>
    	<div class="span4">
    		<h3 class="cc_feature__title">Intégration zen</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    	</div>
    </div>
    
    
  $block quick_support html$
  $block thewayyouwork html$
  
   
  <div class="container">
    <h2 class="cc_slider__title">Pay what you want, when you want</h2>
    <div id="carousel" class="carousel slide cc_slider__box">
      <ol class="carousel-indicators cc_slider__controls">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://placehold.it/1200x400" alt="slide"/>
        </div>
        <div class="item">
          <img src="http://placehold.it/1200x400/000/fff" alt="slide"/>
        </div>
      </div>
    </div>
  </div>
  <div class="cc_people">
    <div class="container">
      <div class="row">
        <div class="span1of3">
          <div class="cc_people__header cc_side-header">
            <h2 class="cc_side-header__title">Nos références</h2>
            <a href="#" class="cc_people__btn">Voir les cas clients</a>
          </div>
        </div>
        <div class="span2of3 cc_reference__list">
          <img src="/assets/img/reference-placeholder.png" alt="" class="cc_reference__item"/>
          <img src="/assets/img/reference-placeholder.png" alt="" class="cc_reference__item"/>
          <img src="/assets/img/reference-placeholder.png" alt="" class="cc_reference__item"/>
          <img src="/assets/img/reference-placeholder.png" alt="" class="cc_reference__item"/>
          <img src="/assets/img/reference-placeholder.png" alt="" class="cc_reference__item"/>
          <img src="/assets/img/reference-placeholder.png" alt="" class="cc_reference__item"/>
        </div>
      </div>
      <div class="row cc_partner">
        <div class="span1of3">
          <div class="cc_side-header">
            <h2 class="cc_side-header__title">Ils nous accompagnent</h2>
            <a href="#" class="cc_people__btn cc_partner__btn">Voir les détails</a>
          </div>
        </div>
        <div class="span2of3 cc_partner__list">
          <div class="row-fluid cc_partner__row">
            <div class="span4 cc_partner__span">
              <img class="cc_partner__item" src="http://placehold.it/200x100/f6f6f6f/ababab" alt="partner"/>
            </div>
            <div class="span4 cc_partner__span">
              <img class="cc_partner__item" src="http://placehold.it/200x100/f6f6f6f/ababab" alt="partner"/>
            </div>
            <div class="span4 cc_partner__span">
              <img class="cc_partner__item" src="http://placehold.it/200x100/f6f6f6f/ababab" alt="partner"/>
            </div>
            <div class="span4 cc_partner__span">
              <img class="cc_partner__item" src="http://placehold.it/200x100/f6f6f6f/ababab" alt="partner"/>
            </div>
          </div>
          <div class="row-fluid cc_partner__row">
            <div class="span4 cc_partner__span">
              <img class="cc_partner__item" src="http://placehold.it/200x100/f6f6f6f/ababab" alt="partner"/>
            </div>
            <div class="span4 cc_partner__span">
              <img class="cc_partner__item" src="http://placehold.it/200x100/f6f6f6f/ababab" alt="partner"/>
            </div>
            <div class="span4 cc_partner__span">
              <img class="cc_partner__item" src="http://placehold.it/200x100/f6f6f6f/ababab" alt="partner"/>
            </div>
            <div class="span4 cc_partner__span">
              <img class="cc_partner__item" src="http://placehold.it/200x100/f6f6f6f/ababab" alt="partner"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span1of3">
          <div class="cc_people__header cc_side-header">
            <h2 class="cc_side-header__title">Dans la presse</h2>
            <a href="#" class="cc_people__btn">Espace presse</a>
          </div>
        </div>
        <div class="span2of3 cc_press__list">
          <div class="row-fluid">
            <div class="span4 cc_press__span">
              <img class="cc_press__item" src="http://placehold.it/200x100" alt="press"/>
            </div>
            <div class="span4 cc_press__span">
              <img class="cc_press__item" src="http://placehold.it/200x100" alt="press"/>
            </div>
            <div class="span4 cc_press__span">
              <img class="cc_press__item" src="http://placehold.it/200x100" alt="press"/>
            </div>
            <div class="span4 cc_press__span">
              <img class="cc_press__item" src="http://placehold.it/200x100" alt="press"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span1of3">
        <div class="cc_side-header cc_suscribe__header">
          <h2 class="cc_side-header__title cc_suscribe__title">Vous êtes à 13 secondes d'apprécier l'hébergement, et de bénéficier de <strong>2000 drops</strong>.</h2>
        </div>
      </div>
      <div class="span2of3">
        <div class="row-fluid">
          <div class="span7 offset5">
            <form class="cc_suscribe__form" action="?">
              <div class="cc_suscribe__field">
                <label class="cc_suscribe__label" for="#cc_suscribe__email">E-mail</label>
                <input class="cc_suscribe__input" type="email" placeholder="Enter your e-mail"/>
              </div>
              <div class="cc_suscribe__field">
                <label class="cc_suscribe__label" for="#cc_suscribe__password">Password</label>
                <input class="cc_suscribe__input" type="password" placeholder="Create a password"/>
              </div>
              <div class="cc_suscribe__field">
                <label class="cc_suscribe__terms">
                  <input type="checkbox"/>
                  I accept the <a href="#">terms and conditions</a> of Clever Cloud.
                </label>
              </div>
              <button class="cc_btn cc_btn--success cc_btn--L cc_suscribe__btn">Create my account</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cc_footer">
	<div class="container">
    <div class="cc_row">
      <div class="span3">
        <ul class="cc_footer__link__list">
          <li class="cc_footer__link__title">Clever Cloud</li>
          <li class="cc_footer__link__item">Qui sommes-nous ?</li>
          <li class="cc_footer__link__item">Qui sommes-nous ?</li>
          <li class="cc_footer__link__item">Qui sommes-nous ?</li>
        </ul>
      </div>
      <div class="span3">
        <ul class="cc_footer__link__list">
          <li class="cc_footer__link__title">Clever Cloud</li>
          <li class="cc_footer__link__item">Qui sommes-nous ?</li>
          <li class="cc_footer__link__item">Qui sommes-nous ?</li>
          <li class="cc_footer__link__item">Qui sommes-nous ?</li>
        </ul>
      </div>
      <div class="span3">
        <ul class="cc_footer__link__list">
          <li class="cc_footer__link__title">Clever Cloud</li>
          <li class="cc_footer__link__item">Qui sommes-nous ?</li>
          <li class="cc_footer__link__item">Qui sommes-nous ?</li>
          <li class="cc_footer__link__item">Qui sommes-nous ?</li>
        </ul>
      </div>
      <div class="span3">
        <ul class="cc_footer__link__list">
          <li class="cc_footer__link__title">Clever Cloud</li>
          <li class="cc_footer__link__item">Qui sommes-nous ?</li>
          <li class="cc_footer__link__item">Qui sommes-nous ?</li>
          <li class="cc_footer__link__item">Qui sommes-nous ?</li>
        </ul>
      </div>
      <div class="span3">
        <ul class="cc_footer__link__list">
          <li class="cc_footer__link__title">Clever Cloud</li>
          <li class="cc_footer__link__item">Qui sommes-nous ?</li>
          <li class="cc_footer__link__item">Qui sommes-nous ?</li>
          <li class="cc_footer__link__item">Qui sommes-nous ?</li>
        </ul>
      </div>
    </div>
	</div>
   