      <div class="container">
         <div class="pricing_evaluation">
            <div class="row-fluid">
               <div class="span12 main_pricing_place">
                  <div class="row-fluid">
                     <div class="span16 tech_choice_princing_place">
                        <div class="btn-group choose_tech_group" data-toggle="buttons-radio">
                        </div>
                     </div>
                  </div>
                  <div class="row-fluid">
                     <div class="span16 simulation_princing_place">
                        <div class="row-fluid result">
                           <div class="span3">
                              <h6>$technology$</h6>
                              <h5 class="instance-type"></h5>
                           </div>
                           <div class="span3">
                              <h6>$instNumber$</h6>
                              <h5 class="instance-count"></h5>
                           </div>
                           <div class="span3">
                              <h6>$instSize$</h6>
                              <h5 class="instance-flavor"></h5>
                           </div>
                           <div class="span7">
                              ppp
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row-fluid inst_number_princing_place">
                     <div class="span16">
                        <div class="range_slider"></div>
                     </div>
                  </div>
                  <div class="row-fluid">
                     <div class="span16">
                        <input type="checkbox" name="autoscalout" id="autoscaleout_activation" checked><label for="autoscaleout_activation">$autoscaleoutActivation$</label>
                     </div>
                  </div>
                  <div class="row-fluid">
                     <div class="span16 inst_size_princing_place">
                        $chooseInstSize$
                        <div class="btn-group flavors" data-toggle="buttons-radio">
                          <button type="button" class="btn btn-primary">Left</button>
                          <button type="button" class="btn btn">Middle</button>
                          <button type="button" class="btn btn">Right</button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="span4 help_pricing_place">
                  help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help help
               </div>
            </div>
         </div>
      </div>
