<div class="cc_compatibility">
  <div class="container cc_compatibility_head">
    <div class="row-fluid">
      <div class="span16 cc_compatibility_head_text">
        <h1 class="cc_hero__title">Pricing</h1>
        <h2 class="cc_hero__desc"><a href="#app" data-anchor="#app">$titleelt1$</a>, <a href="#services" data-anchor="#services">$titleelt2$</a> $titleelt3$ <a href="#vision" data-anchor="#vision">$titleelt4$</a></h2>
      </div>
    </div>
  </div>
</div>

$block pricingapp html$
$block pricingservice html$
$block pricingvision html$