<div class="cc_compatibility ">
  <div class="container cc_compatibility_head">
    <div class="span1of3">
      <h2>Compatibility list</h2>
      <p>Bahl Lorem ipsum Proident Ut ex proident veniam sunt amet occaecat fugiat anim et magna cupidatat consequat ut veniam sint fugiat dolore et minim officia Ut sint fugiat Ut aliqua exercitation fugiat ut esse.<p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span1of3">
      <nav class="cc-compatibility_nav"> 
        <h5 class="cc-compatibility_nav_head">Runtimes</h5>
         <ul> 
            <li><a class="cc-compatibility_nav_li" href="/$urllang$runtimes/java.html" title="titre">Java</a></li>
            <li><a class="cc-compatibility_nav_li" href="/$urllang$runtimes/php.html" title="titre">PHP</a></li>
            <li><a class="cc-compatibility_nav_li" href="/$urllang$runtimes/ruby.html" title="titre">Ruby</a></li>
            <li><a class="cc-compatibility_nav_li" href="/$urllang$runtimes/python.html" title="titre">Python</a></li>
            <li><a class="cc-compatibility_nav_li" href="/$urllang$runtimes/nodejs.html" title="titre">Node.js</a></li>
            <li><a class="cc-compatibility_nav_li" href="/$urllang$runtimes/scala.html" title="titre">Scala</a></li>
         </ul>
         <h5 class="cc-compatibility_nav_head">Services</h5>
         <ul> 
            <li><a class="cc-compatibility_nav_li" href="#" title="titre">Couchbase</a></li> 
            <li><a class="cc-compatibility_nav_li" href="#" title="titre">mySQL</a></li> 
            <li><a class="cc-compatibility_nav_li" href="#" title="titre">PostgreSQL</a></li> 
         </ul>
         <h5 class="cc-compatibility_nav_head">Add-ons</h5>
         <ul> 
            <li><a class="cc-compatibility_nav_li" href="#" title="titre">News Relic</a></li> 
         </ul> 
      </nav>
    </div>
    <div class="span2of3">
      <article class="cc-runtime">
        <div class="cc-runtime_head">
          <a href="$doc$" class="cc-runtime_head_doclink" target="_blank">Documentation</a>
          <h3 class="cc-runtime_title">$name$</h3>
          <p>$body$</p>
        </div>
        <section>
            $techs$
        </section>
      </article>
    </div>
  </div>
</div>

