<div class="cc_team__mainbg">
  <div class="span6 cc_team__secondbg">
    <div class="cc_team__secondbg__text">
      <h1>THE TEAM</h1>
      <p>Clever Cloud team is only composed of hackers. Each member is a rock star in its domain, which is the reason why Clever Cloud such an amazing company !</p>
    </div>
  </div>
  <div class="span10">
      <div class="row cc_team__rightpane">
        <div class="span5">

          <div class="cc_team__worker">
            <img src="/assets/img/team/quentin.jpg">
            <div class="cc_team__worker__name">QUENTIN ADAM</div>
            <div class="cc_team__worker__role">CEO</div>
            <div class="cc_team__worker__social">
              <a href="http://twitter.com/waxzce"><icon class="icon-twitter-sign"></icon></a>
              <a href="http://linkedin.com/in/waxzce"><icon class="icon-linkedin-sign"></icon></a>
            </div>
          </div>

          <div class="cc_team__worker">
            <img src="/assets/img/team/rodolphe.jpg">
            <div class="cc_team__worker__name">RODOLPHE BELOUIN</div>
            <div class="cc_team__worker__role">Javascript & Scala enthusiast</div>
            <div class="cc_team__worker__social">
              <a href="http://twitter.com/rbelouin"><icon class="icon-twitter-sign"></icon></a>
              <a href="http://fr.linkedin.com/pub/rodolphe-belouin/1b/8b5/b22"><icon class="icon-linkedin-sign"></icon></a>
            </div>
          </div>

          <div class="cc_team__worker">
            <img src="/assets/img/team/judu.jpg">
            <div class="cc_team__worker__name">JULIEN DURILLON</div>
            <div class="cc_team__worker__role">System administrator & developer</div>
            <div class="cc_team__worker__social">
              <a href="http://twitter.com/juuduu"><icon class="icon-twitter-sign"></icon></a>
              <a href="http://fr.linkedin.com/pub/julien-durillon/20/455/927"><icon class="icon-linkedin-sign"></icon></a>
            </div>
          </div>

          <div class="cc_team__worker">
            <img src="/assets/img/team/arthur.jpg">
            <div class="cc_team__worker__name">ARTHUR TAYRAC</div>
            <div class="cc_team__worker__role">Interaction designer</div>
            <div class="cc_team__worker__social">
              <a href="http://twitter.com/crmfrsh"><icon class="icon-twitter-sign"></icon></a>
              <a href="http://fr.linkedin.com/in/arthurtayrac/fr"><icon class="icon-linkedin-sign"></icon></a>
            </div>
          </div>

          <div class="cc_team__worker">
            <img src="/assets/img/team/adrien.jpg">
            <div class="cc_team__worker__name">ADRIEN CRETTE</div>
            <div class="cc_team__worker__role">Communication manager</div>
            <div class="cc_team__worker__social">
              <a href="http://twitter.com/Dadzwhybe"><icon class="icon-twitter-sign"></icon></a>
              <a href="http://fr.linkedin.com/in/adriencrette"><icon class="icon-linkedin-sign"></icon></a>
            </div>
          </div>

        </div>

        <div class="span5">
          
          <div class="cc_team__worker">
            <img src="/assets/img/team/kevin.jpg">
            <div class="cc_team__worker__name">KEVIN DECHERF</div>
            <div class="cc_team__worker__role">Office & Production manager</div>
            <div class="cc_team__worker__social">
              <a href="http://twitter.com/kdecherf"><icon class="icon-twitter-sign"></icon></a>
              <a href="http://fr.linkedin.com/in/kdecherf"><icon class="icon-linkedin-sign"></icon></a>
            </div>
          </div>

          <div class="cc_team__worker">
            <img src="/assets/img/team/marc-antoine.jpg">
            <div class="cc_team__worker__name">MARC-ANTOINE PERENNOU</div>
            <div class="cc_team__worker__role">Java and GNU/Linux Hacker</div>
            <div class="cc_team__worker__social">
              <a href="http://twitter.com/keruspe"><icon class="icon-twitter-sign"></icon></a>
              <a href="http://fr.linkedin.com/in/keruspe"><icon class="icon-linkedin-sign"></icon></a>
            </div>
          </div>

          <div class="cc_team__worker">
            <img src="/assets/img/team/bastien.jpg">
            <div class="cc_team__worker__name">BASTIEN LOUËRAT</div>
            <div class="cc_team__worker__role">Scala & Java backend developer</div>
            <div class="cc_team__worker__social">
              <a href="http://twitter.com/blouerat"><icon class="icon-twitter-sign"></icon></a>
            </div>
          </div>

          <div class="cc_team__worker">
            <img src="/assets/img/team/clement.jpg">
            <div class="cc_team__worker__name">CLEMENT NIVOLLE</div>
            <div class="cc_team__worker__role">Project manager</div>
            <div class="cc_team__worker__social">
              <a href="http://twitter.com/cnivolle"><icon class="icon-twitter-sign"></icon></a>
              <a href="http://fr.linkedin.com/in/cnivolle"><icon class="icon-linkedin-sign"></icon></a>
            </div>
          </div>

          <div class="cc_team__worker">
            <img src="/assets/img/team/regis.jpg">
            <div class="cc_team__worker__name">REGIS FOUCAULT</div>
            <div class="cc_team__worker__role">Platform evangelist</div>
            <div class="cc_team__worker__social">
              <a href="http://twitter.com/r_foucault"><icon class="icon-twitter-sign"></icon></a>
              <a href="http://fr.linkedin.com/in/regisfoucault/fr"><icon class="icon-linkedin-sign"></icon></a>
            </div>
          </div>

        </div>
      </div>
  </div>
</div>
