{%assign lg = page.lang%}
<!doctype html>
<html lang="{{lg}}">
	<head>
		<meta charset="UTF-8"/>
		<meta name="description" content="{{page.description}}"/>
		<meta name="keywords" content="{{site.keywords|join:','}}{{page.keywords|join:','}}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<title>{{page.title}} | {{site.title}}</title>
		<link rel="stylesheet" type="text/css" href="{{site.www}}/css/960.css" media="all"/>
		<link rel="stylesheet" type="text/css" href="{{site.www}}/css/document.css" media="all"/>
		<link rel="shortcut icon" type="image/x-icon" href="{{site.www}}/img/favicon.png"/>
		<script type="text/javascript" src="{{site.www}}/js/jquery-1.7.1.min.js"></script>
		{%for script in page.scripts%}
		<script type="text/javascript" src="{{site.www}}/js/{{script}}"></script>
		{%endfor%}
		<script type="text/javascript">

		         var _gaq = _gaq || [];
		         _gaq.push(['_setAccount', 'UA-19997759-1']);
		         _gaq.push(['_setDomainName', '.clever-cloud.com']);
		         _gaq.push(['_trackPageview']);

		         (function() {
		            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		         })();

		      </script>
		<script type="text/javascript">
			jQuery(document).ready(function(){
				jQuery('#main-nav li:has(.drop)>a').click(function(e){
					e.preventDefault();
					e.stopPropagation();
					if(jQuery(e.currentTarget).hasClass('toggled')){
						jQuery(e.currentTarget).removeClass('toggled');
						jQuery(e.currentTarget).blur();
					}
					else{
						jQuery('#main-nav .toggled').removeClass('toggled');
						jQuery(e.currentTarget).addClass('toggled');
					}
				});
				jQuery('body').click(function(e){
					jQuery('#main-nav .toggled').removeClass('toggled');
				});
				jQuery('#page .sidebar a').scrollspy();
			});
		</script>
	</head>
	<body data-spy="scroll">
		<nav id="main-nav">
			<div>
				<h2 id="brand"><a href="{%if lg == site.i18n.default%}/{%else%}{{site.lg_url[lg]}}/{%endif%}">{{site.title}}</a></h2>
				<ul>
					{%for link in site.i18n[lg].top%}
					<li class="{{link.title|downcase}}">
						{%if link.sub%}
						<a href="#">{{link.title}}</a>
						<ul class="drop">
							{%for sublink in link.list%}
							<li class="{{sublink.title|downcase}}">
								<a href="{{site.lg_url[lg]}}/{{sublink.url}}.html">{{sublink.title}}</a>
							</li>
							{%endfor%}
						</ul>
						{%else%}
						<a href="{{site.lg_url[lg]}}/{{link.url}}.html">{{link.title}}</a>
						{%endif%}
					</li>
					{%endfor%}
					<li class="login"><a href="{%unless site.i18n.default == lg%}{{site.lg_url[lg]}}{%endunless%}/#signup">{{site.i18n[lg].login}}</a></li>
					<li class="lg_choice">
						<a class="{{lg}}" href="#" title="{{site.i18n[lg].name}}">{{lg}}</a>
						<ul class="drop">
							{%for i in site.i18n.list%}
							{%unless i.iso == lg%}
							<li><a class="{{i.iso}}" href="{%if i.iso == site.i18n.default%}/{%else%}{{site.lg_url[i.iso]}}{%endif%}" title="{{i.name}}">{{i.iso}}</a></li>
							{%endunless%}
							{%endfor%}
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		{{content}}
		<footer id="main-footer"{%if page.id == 'index'%} class="bottled"{%endif%}>
			<ul class="sitemap">
				{%for col in site.i18n[lg].footer%}
				<li>
					<h3>{{col.head}}</h3>
					<ul>
						{%for link in col.list%}
						<li><a {%if link.external%}target="_blank" href="{{link.url}}"{%else%}href="{{site.lg_url[lg]}}/{{link.url}}.html"{%endif%}>{{link.title}}</a></li>
						{%endfor%}
					</ul>
				</li>
				{%endfor%}
			</ul>
		</footer>
	</body>
</html>
