---
layout: main

# home navigation

advantages:
- [cost-control, zen-integration]
- [scalability, availability]

technologies: [php, scala, ruby, java]
---
<div class="cc-hero-unit">
   <div class="container">
      
      <!-- le nice home header -->
      <div class="row">
         <div class="span5 offset8">
            {{ content }}
         </div>
      </div>
   </div>
</div>

<div id="home-page">
   <div class="container">
      
      <!-- le little summary of advantages -->
      <div id="home-advantages" class="row">
         <div class="span4"> {% capture purl %}/{{ page.locale }}/the-cloud/advantages/index.html{% endcapture %}
            {% include home-headline.html %}
         </div>
         <div class="span8"> {% for row in page.advantages %}
            <div class="row"> {% for advantage in row %} {% capture purl %}/{{ page.locale }}/the-cloud/advantages/{{ advantage }}.html{% endcapture %} {% for p in site.pages %} {% if p.url == purl %}
               <div class="span4">
                  <h3><i class="cc-icon-{{ p.icon }}-circle"></i> {{ p.title }}</h3>
                  {{ p.content | markdownify }}
               </div> {% endif %} {% endfor %} {% endfor %}
            </div> {% endfor %}
         </div>
      </div>
   </div>
</div>

<div id="home-tech-wrap">
<div class="container">
   <!-- le list of tech we support -->
   <div id="home-tech" class="page-header"> {% capture purl %}/{{ page.locale }}/the-cloud/technologies/index.html{% endcapture %}
      {% include home-headline.html %}
   </div>
   <div class="row"> {% for tech in page.technologies %} {% capture purl %}/{{ page.locale }}/the-cloud/technologies/{{ tech }}.html{% endcapture %} {% for p in site.pages %} {% if p.url == purl %}
      <div class="span1">
         <a href="{{ p.website }}" class="thumbnail" target="_blank">
            <img src="/img/technos/{{ p.icon }}" alt="{{ p.title }}"/>
         </a>
      </div>
      <div class="span2">
         <h3>{{ p.title }}</h3>
         <p>{{ p.content }}</p>
      </div> {% endif %} {% endfor %} {% endfor %}
   </div>
</div>
</div>
<div id="home-fuel-wrap">
<div class="container">
   
   <!-- le amazing screen capture -->
   <div id="home-fuel" class="row"> {% capture purl %}/{{ page.locale }}/the-cloud/features/fuel-your-apps.html{% endcapture %}
      <div class="span5">
         {% include home-headline.html %}
      </div>
   </div>
</div>
</div>
<div id="home-bottom">
   <div class="container">
      <div class="row">
         <div class="span5">
            {% include home-biglist.html %}
         </div>
         <div class="span7">
            <div class="thumbnail">
               <img src="/img/dashboard.png" alt="dashboard"/>
            </div>
         </div>
      </div>
      
      <!-- le nice partners we love -->
      <div id="home-partners" class="page-header"> {% capture purl %}/{{ page.locale }}/about/partners/index.html{% endcapture %} {% for p in site.pages %} {% if p.url == purl %}
         <h2>{{ p.title }}</h2>
      </div>
      <ul class="thumbnails"> {% for link in p.list %} {% capture url %}/{{ page.locale }}/{{ link }}.html{% endcapture %} {% for s in site.pages %} {% if s.url == url %}
         <li>
            <a href="http://{{ s.website }}" class="thumbnail" target="_blank">
               <img src="/img/partners/{{ s.img }}-small.png" alt="{{ s.title }}"/>
            </a>
         </li>{% endif %} {% endfor %} {% endfor %}
      </ul> {% endif %} {% endfor %}
   </div>
</div>
