---
layout: main

# home nav
nav:
  
  advantages:
    head:
      fr: avantages
      en: advantages
    fr: [avantages/maitrise-couts, avantages/deploiement-accelere, avantages/securite, avantages/flexibilite]
  
  technologies:
    head:
      fr: technologies
      en: technologies
    fr: [technologies/php, technologies/scala, technologies/ruby, technologies/java]
---
<div class="container">
   <div class="row">
      <div class="span5 offset7">
         <div class="hero-unit">
            {{ content | replace:'<a','<a class="btn btn-large btn-primary"' }}
         </div>
      </div>
   </div>
   <div class="row">
      <div class="span4"> {% for p in site.pages %} {% assign cat = 'advantages' %}
      {% include home-headline.html %} {% endfor %}
      </div>
      <div class="span8"> {% for advantage in page.nav.advantages[page.locale] %} {% for p in site.pages %} {% capture purl %}/{{ page.locale }}/{{ advantage }}.html{% endcapture %} {% if p.url == purl %}
         {% cycle '<div class="row">','' %}
            <div class="span4">
               <h3>{{ p.title }}</h3>
               {{ p.content }}
            </div>
         {% cycle '','</div>' %} {% endif %} {% endfor %} {% endfor %}
      </div>
   </div>
   <div class="page-header"> {% for p in site.pages %} {% assign cat = 'technologies' %}
      {% include home-headline.html %} {% endfor %}
   </div>
   <div class="row"> {% for tech in page.nav.technologies[page.locale] %} {% for p in site.pages %} {% capture purl %}/{{ page.locale }}/{{ tech }}.html{% endcapture %} {% if p.url == purl %}
      <div class="span1">
         <div class="thumbnail">
            <img src="/img/lang/{{ p.icon }}" alt="{{ p.title }}"/>
         </div>
      </div>
      <div class="span2">
         <h3>{{ p.title }}</h3>
         {{ p.content }}
      </div> {% endif %} {% endfor %} {% endfor %}
   </div>
</div>
