---
scripts: [mailer.js]
layout: document
---
{%assign lg = page.lang%}
		<header id="main-header">
			<div id="bottle"> </div>
			<section id="slider">
				<script type="text/javascript"></script>
				{%for slide in site.categories.slides%}{%if slide.categories[0] == lg%}
				<article class="slide">
					<img src="{{site.media}}/slides/{{slide.icon}}" alt="{{slide.title}}"/>
					<section class="text">
						<h2>{{slide.title}}</h2>
						<div class="content">{{slide.content}}</div>
					</section>
				</article>
				{%endif%}{%endfor%}
				<aside class="controls">
					<div class="pagination"> </div>
				</aside>
			</section>
			<section id="advantages">
				{%for adv in site.categories.advantages%}{%if adv.categories[0] == lg%}
				<article class="advantage">
					<img src="{{site.media}}/{{adv.icon}}" alt="{{adv.title}}"/>
					<h3>{{adv.title}}</h3>
					<div class="content">{{adv.content}}</div>
				</article>
				{%endif%}{%endfor%}
			</section>
		</header>
		<div id="main">
			<section id="signup">
				<header>
					<h2>{{site.i18n[lg].signup_title}} <small>{{site.i18n[lg].signup_sub}}</small></h2>
				</header>
				<p class="info">{{site.i18n[lg].signup.info}}</p>
				<form id="signup-form" action="http://www.clever-cloud.com/resources/mail/add" method="POST">
					<input name="betasignup" id="signup-email" type="email" placeholder="{{site.i18n[lg].signup.mail}}" autocomplete="on" required/>
					<p id="subscribe_success">{{site.i18n[lg].signup.success}}</p>
					<p id="subscribe_error_401">{{site.i18n[lg].signup.code401}}</p>
					<p id="subscribe_error_404">{{site.i18n[lg].signup.code404}}</p>
					<p id="subscribe_error_500">{{site.i18n[lg].signup.code500}}</p>
					<input type="submit" id="signup-button" value="{{site.i18n[lg].signup.submit}}"/>
				</form>
			</section>
			<section id="technologies">
				<header>
					<h2>{{site.i18n[lg].technologies}} <small>{{site.i18n[lg].technologies_sub}}</small></h2>
				</header>
				<article>
					<p class="info">{{site.i18n[lg].technologies_text}}</p>
					<ul>
						{%for tech in site.categories.technologies limit:8%}{%if tech.categories[0] == lg%}
						<li>
							<a href="{{tech.website}}">
								<figure><img src="{{site.media}}/{{tech.icon}}" alt="{{tech.title}}"/></figure>
								<div class="text">
									<h3>{{tech.title}}</h3>
									{{tech.content}}
								</div>
							</a>
						</li>
						{%endif%}{%endfor%}
					</ul>
				</article>
			</section>
			<section id="newsletter">
				<header>
					<h2>{{site.i18n[lg].newsletter.title}}</h2>
				</header>
				<p class="info">{{site.i18n[lg].signup.info}}</p>

<!-- Begin MailChimp Signup Form -->
<form action="http://clever-cloud.us1.list-manage.com/subscribe/post?u=0928a3dc4855008ad5808ca4e&amp;id=acad5cf9a1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
   <input type="email" value="" placeholder="{{site.i18n[lg].signup.mail}}" name="EMAIL" class="required email" id="mce-EMAIL">
   <input type="submit" value="{{site.i18n[lg].newsletter.submit}}" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>
<!--End mc_embed_signup-->

			</section>
		</div>
