---
scripts: [jquery-1.7.1.min.js, jquery.cycle.all.js]
layout: document
---
{%assign lg = page.lang%}
		<header id="main-header">
			<div id="bottle"> </div>
			<section id="slider">
				<script type="text/javascript"></script>
				{%for slide in site.categories.slides%}{%if slide.categories[0] == lg%}
				<article class="slide">
					<img src="{{site.media}}/slides/{{slide.icon}}" alt="{{slide.title}}"/>
					<section class="text">
						<h2>{{slide.title}}</h2>
						<div class="content">{{slide.content}}</div>
					</section>
				</article>
				{%endif%}{%endfor%}
				<aside class="controls">
					<div class="pagination"> <a></a><a class="activeSlide"></a><a></a></div>
				</aside>
			</section>
			<section id="advantages">
				{%for adv in site.categories.advantages%}{%if adv.categories[0] == lg%}
				<article class="advantage">
					<img src="{{site.media}}/{{adv.icon}}" alt="{{adv.title}}"/>
					<h3>{{adv.title}}</h3>
					<div class="content">{{adv.content}}</div>
				</article>
				{%endif%}{%endfor%}
			</section>
		</header>
		<div id="main">
			<section id="signup">
				<p class="info">{{site.i18n[lg].signup.info}}</p>
				<form id="signup-form" action="?" method="POST">
					<input id="signup-email" type="email" placeholder="{{site.i18n[lg].signup.mail}}" autocomplete="on" required/>
					<input type="submit" value="{{site.i18n[lg].signup.submit}}"/>
				</form>
			</section>
			<section id="technologies">
				<header>
					<h2>{{site.i18n[lg].technologies}} <small>{{site.i18n[lg].technologies_sub}}</small></h2>
				</header>
				<article>
					<p class="info">{{site.i18n[lg].technologies_text}}</p>
					<ul>
						{%for tech in site.categories.technologies limit:8%}{%if tech.categories[0] == lg%}
						<li>
							<img src="{{site.media}}/{{tech.icon}}" alt="{{tech.title}}"/>
							<div class="text">
								<h3>{{tech.title}}</h3>
								{{tech.content}}
							</div>
						</li>
						{%endif%}{%endfor%}
					</ul>
				</article>
			</section>
		</div>
