<!DOCTYPE html>
<html lang="{{ page.locale }}">
   <head>
	   <meta charset="UTF-8"/>
	   <meta name="viewport" content="width=device-width, initial-scale=1.0">
	   <meta name="description" content="{{ page.desc}}" />
	   <title>{{ page.title | append:' | '}}{{ site.brand }}</title>
     <script type="text/javascript" src="/js/jquery.js"></script>
	   <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="all"/>
	   <link rel="stylesheet" type="text/css" href="/bootswatch/css/clevercloud-common.css" media="all"/>
	   <link rel="stylesheet" type="text/css" href="/bootswatch/css/clevercloud-website.css" media="all"/>
	   <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css" media="all"/>
	   <link rel="stylesheet" type="text/css" href="/bootswatch/css/fontface-adellebasicbold.css" media="all"/>
	   <link rel="stylesheet" type="text/css" href="/bootswatch/css/clevercloud-responsive.css" media="all"/>
	   <link rel="stylesheet" type="text/css" href="/css/main.css" media="all"/>
     <link media="screen and (max-width: 767px)" rel="stylesheet" href="/css/ie.css" type="text/css" />
      <link rel="shortcut icon" href="/img/favicon.png">
   </head>
   <body>
	   <div id="fb-root"></div>
	   <script>(function(d, s, id) {
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) return;
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=222389161149826";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	   </script>
      <!-- le navigation for le whole website -->
      <div class="navbar navbar-fixed-top">
         <div class="navbar-inner">
            <div class="container">
               <a href="/{{ page.locale }}" class="brand">{{ site.brand }}</a>
               <ul class="nav pull-right"> {% for link in site.the-cloud %}
                  {% include nav.html %} {% endfor %}
               </ul>
            </div>
         </div>
      </div>
      
      {{ content }}
      
      <!-- le footer with le sitemap -->
      <div id="footer">
         <div class="container">
            <div class="row"> {% for link in site.sitemap %}
               {% include sitemap.html %} {% endfor %}
            </div>
         </div>
         <div id="copy" class="container">
            <!-- le copyrights -->
           <span>&copy {{ site.brand }} {{ site.since }}-{{ site.time | date:'%Y' }}</span>
		   <iframe class="fb-like" src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fclevercloudsas&amp;send=false&amp;layout=button_count&amp;width=40&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=439910186052859" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		   <a href="https://twitter.com/clever_cloud" class="twitter-follow-button" data-show-count="false" data-lang="{{ page.locale }}">@Clever_Cloud</a>		
         </div>
      </div>
      
      <!-- le js -->
      <script type="text/javascript" src="/js/bootstrap-dropdown.js"></script>
      <script>
	  	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      </script>
      <script type="text/javascript">
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-19997759-1']);
         _gaq.push(['_setDomainName', '.clever-cloud.com']);
         _gaq.push(['_trackPageview']);

         (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
      </script>
   </body>
</html>
