---
layout: main
nav:
- ref: the-cloud/solution/index
- ref: the-cloud/solution/innovating-platform
- ref: the-cloud/solution/controlled-consumption
- ref: the-cloud/solution/simple-management
packages:
- title:    First Steps
  count:    2 500
  price:    24.25
  per_drop: x
- title:    Highway Driver
  count:    10 000
  price:    94.58
  discount: 2.5
  per_drop: x
- title:    Aviator
  count:    25 000
  price:    230.38
  discount: 5
  best_offer: yes
  per_drop: x
- title:    Astronaut
  count:    50 000
  price:    436.5
  discount: 10
  per_drop: x
---
<div class="sub-navbar">
   <div class="container {{ page.part }}">
      <div class="navbar">
         <ul class="nav"> {% for link in page.nav %}
            {% include nav.html %} {% endfor %}
         </ul>
      </div>
   </div>
</div>
<div class="solution-page">{{ content }}</div>
<div id="go-suscribe" class="full-bg">
   <div class="container">
      <div class="row">
         <div class="span8">
            {{ page.baseline | markdownify }}
         </div>
         <div class="span4">
            <a href="http://console.clever-cloud.com/auth/signup" id="btn-subscribe-pricing" class="btn btn-large btn-primary pull-right">
               {{ page.suscribe }}
            </a>
         </div>
      </div>
   </div>
</div>
<div id="packages">
   <div class="container">
      <div class="row"> {% for package in page.packages %}
         <div class="span3">
            <div class="well">
               <h3>{{ package.title }}</h3>
               <a href="https://console.clever-cloud.com/users/me/billing/buy-drops" class="btn btn-large {% if package.best_offer %}btn-success{% else %}btn-inverse{% endif %}">
                  {{ package.count }}<i class="cc-icon-drops-blanc"></i>/{{ package.price }}&euro;
               </a>
               <p>
                  {% if package.discount %}<em>
                     {{ page.as }} {{ package.discount }}% {{ page.discount }}
                  </em>{% else %}&nbsp;{% endif %}
               </p>
            </div>
         </div> {% endfor %}
      </div>
   </div>
</div>
