/* coding rules:
 * tab width = 2
 * all spaces
 * 
 * naming convention:
 * cc_ prefix
 * __  component part
 * --  variant
 * example: cc_alert--info__close = style that is specific to the close button
 *                                  of the info alert box only.
 * more about this: engineering.appfolio.com/2012/11/16/css-architecture
 */

// colors

@red:       #6e2627;
@darkred:   #371513;
@whitey:    #f6f6f6;
@lightgrey: #cdcdcd;
@grey:      #ababab;
@darkgrey:  #3f3f3f;
@black:     #000;
@white:     #fff;

// fonts

@iconic-font: "Clever Icons", monospace;
@main-font:   "Helvetica", "DejaVu Sans", "Arial", sans-serif;

// font sizes

@text:  14px;
@textL: (@text * 1.1);

// atoms

.cc_bleed(@color, @depth) {
  box-shadow: 0 0 0 @depth @color;
}

.cc_box(@bg, @fg) {
  background: @bg;
  color:      @fg;
  a {
    color: @fg;
  }
}

.cc_linear-gradient--hard(@dir, @start-color, @end-color, @cut) {
  background: @start-color;
  background: -webkit-linear-gradient(@dir, @start-color 0, @start-color @cut, @end-color @cut);
  background:    -moz-linear-gradient(@dir, @start-color 0, @start-color @cut, @end-color @cut);
  background:     -ms-linear-gradient(@dir, @start-color 0, @start-color @cut, @end-color @cut);
  background:      -o-linear-gradient(@dir, @start-color 0, @start-color @cut, @end-color @cut);
  background:         linear-gradient(@dir, @start-color 0, @start-color @cut, @end-color @cut);
}

.cc_rounded {
  border-radius: 4px;
}

.cc_shadow(@shadow) {
  box-shadow: 0 4px 4px @shadow;
}

// components

.cc {
  .cc_box(@darkgrey, @grey);
  font-size:   @text;
  font-family: @main-font;
}

.cc_btn--darken {
  .cc_box(fade(@black, 15%), @white);
  .cc_rounded;
}

.cc_headbar {
  .cc_box(@red, @white);
  .cc_bleed(fade(@red, 50%), 5px);
  font-size:   @text;
  a {
    text-decoration: none;
  }
}
.cc_headbar__menu {
  text-align: right;
}

.cc_hero {
  .cc_box(none, @darkgrey);
}
.cc_hero__desc {
  font-size:      30px;
  font-weight:    normal;
  text-transform: uppercase;
}
.cc_hero__headline {
  color:  @white;
}
.cc_hero__iframe {
  .cc_box(@black, @darkgrey);
}
.cc_hero__title {
  font-size: 48px;
}
.cc_hero__video {
  .cc_rounded;
  .cc_shadow(fade(@black, 20%));
  background: fade(@white, 5%);
}

.cc_icon {
  font-family: @iconic-font;
}

.cc_main {
  .cc_box(@whitey, @darkgrey);
}

.cc_panorama {
  background:      @darkgrey url(/img/cc_panorama.png) center;
  background-size: cover;
}
