/* A simple reset to allow your design to fit easily. Remove it later
 * if you don't need it.                                              */
* {
  margin: 0;
  padding: 0;
  border: none; }

/* First, define here your max number of columns.
 * To allow your apps to be responsive, they will be resized according
 * to the user window, like this:
 * - xs (480px or under): 300px |  6 cols max | 40px  grid | 10px gutter
 * -  s (480 to 768px):   448px |  8 cols max | 40px  grid | 16px gutter
 * -  m (768 to 980px):   720px | 12 cols max | 40px  grid | 20px gutter
 * -  l (980 to 1200px):  960px | your choice | 60px* grid | 20px gutter
 * - xl (over 1200px):   1200px | your choice | 70px* grid | 30px gutter
 *   * taken from a 12 cols layout.                                   */
/* smallest font, must be pair number */
/* The grid system. You shouldn't touch that. */
/* The grid allows the use of a debug style, handy for placing
 * elements on a first draft.        v remove comment to activate.    */
/* Templating.
 * The system is based on 960gs for the syntax.                       */
/* narrow < 768px, wide > 768px */
/* by size, as described on top */
/* We tweak your templates to make 'em responsive. Please don't worry
 * about that. You've done enough!                                     */
body, input, button {
  font-size: 14px;
  line-height: 22px; }

h1 {
  font-size: x-large;
  line-height: 42px; }

h2 {
  font-size: large;
  line-height: 28px; }

h3 {
  font-size: large;
  line-height: 28px; }

h4 {
  font-size: medium;
  line-height: 28px; }

small {
  font-size: smaller; }

@media (max-width: 479px) {
  h1 {
    font-size: large;
    line-height: 28px; }

  h2 {
    font-size: medium;
    line-height: 22px; }

  h3 {
    font-size: medium;
    line-height: 22px; }

  #main-nav div, #slider .slide, #bottle, #advantages, #signup, #technologies, #main-footer .sitemap, #slider .controls, #page, #page .sidebar {
    /* @include debug; */
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    clear: both; }
    #main-nav div:after, #slider .slide:after, #bottle:after, #advantages:after, #signup:after, #technologies:after, #main-footer .sitemap:after, #slider .controls:after, #page:after, #page .sidebar:after {
      content: "";
      display: block;
      clear: both; }

  #main-nav h2, #main-nav ul, #main-nav li, #slider .pagination {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px; }

  #main-nav li {
    margin-left: 0;
    margin-right: 0; }

  #technologies li figure {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 40px;
    margin-right: 0; }

  #technologies li .text {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 90px;
    margin-right: 0; }

  #main-footer .sitemap > li {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 90px; }

  #page > aside ul {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 140px; }

  #page > article {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 290px;
    position: relative;
    left: 150px;
    z-index: 1; }

  #page .content .half {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 190px; }

  #page .content .half:nth-child(odd) {
    margin-left: 0; }

  #advantages .advantage, #signup-form [type="submit"], #technologies .info, #technologies li {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 140px; }

  #main-header .slide img {
    padding-left: 50px;
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 190px;
    padding-right: 50px; }

  #main-header .slide .text, #signup-email, #technologies ul {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 290px; }

  #signup-email {
    margin-left: 0; }

  #signup-form, #signup .info, #technologies header, #signup header, #technologies article {
    position: relative;
    left: 150px;
    z-index: 1;
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 290px; }

  #main-footer .sitemap > li:first-child {
    padding-left: 150px; }

  #slider .pagination {
    position: relative;
    left: 250px;
    z-index: 1; }

  #signup-form [type="submit"] {
    margin-right: 0; }

  #technologies li:nth-child(even), #technologies ul {
    margin-right: 0; }

  #technologies .info, #technologies li:nth-child(odd) {
    margin-left: 0; }

  #signup-email, #signup-form [type="submit"], #technologies ul, #technologies li, #technologies .info {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 290px;
    margin-left: 0;
    margin-right: 0; }

  #main-nav h2, #signup-form, #technologies header, #signup header, #main-footer .sitemap > li, #advantages .advantage {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 290px; }

  #slider .pagination {
    position: relative;
    left: 50px;
    z-index: 1; }

  #technologies li figure {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 90px;
    margin-right: 0; }

  #technologies li .text {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 190px;
    margin-right: 0; }

  #page > article {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 290px; } }
@media (min-width: 480px) and (max-width: 767px) {
  #main-nav div, #slider .slide, #bottle, #advantages, #signup, #technologies, #main-footer .sitemap, #slider .controls, #page, #page .sidebar {
    /* @include debug; */
    margin-left: auto;
    margin-right: auto;
    width: 448px;
    clear: both; }
    #main-nav div:after, #slider .slide:after, #bottle:after, #advantages:after, #signup:after, #technologies:after, #main-footer .sitemap:after, #slider .controls:after, #page:after, #page .sidebar:after {
      content: "";
      display: block;
      clear: both; }

  #main-nav h2, #main-nav ul, #main-nav li, #slider .pagination {
    display: inline;
    float: left;
    margin-left: 8px;
    margin-right: 8px; }

  #main-nav li {
    margin-left: 0;
    margin-right: 0; }

  #technologies li figure {
    display: inline;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    width: 40px;
    margin-right: 0; }

  #technologies li .text {
    display: inline;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    width: 96px;
    margin-right: 0; }

  #main-footer .sitemap > li {
    display: inline;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    width: 96px; }

  #page > aside ul {
    display: inline;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    width: 152px; }

  #page > article {
    display: inline;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    width: 432px;
    position: relative;
    left: 168px;
    z-index: 1; }

  #page .content .half {
    display: inline;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    width: 208px; }

  #page .content .half:nth-child(odd) {
    margin-left: 0; }

  #advantages .advantage, #signup-form [type="submit"], #technologies .info, #technologies li {
    display: inline;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    width: 152px; }

  #main-header .slide img {
    padding-left: 56px;
    display: inline;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    width: 208px;
    padding-right: 56px; }

  #main-header .slide .text, #signup-email, #technologies ul {
    display: inline;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    width: 320px; }

  #signup-email {
    margin-left: 0; }

  #signup-form, #signup .info, #technologies header, #signup header, #technologies article {
    position: relative;
    left: 168px;
    z-index: 1;
    display: inline;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    width: 432px; }

  #main-footer .sitemap > li:first-child {
    padding-left: 168px; }

  #slider .pagination {
    position: relative;
    left: 336px;
    z-index: 1; }

  #signup-form [type="submit"] {
    margin-right: 0; }

  #technologies li:nth-child(even), #technologies ul {
    margin-right: 0; }

  #technologies .info, #technologies li:nth-child(odd) {
    margin-left: 0; }

  #technologies li .text {
    display: inline;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    width: 152px;
    margin-right: 0; }

  #main-header .slide .text {
    display: inline;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    width: 432px; }

  #signup-email, #signup-form [type="submit"], #technologies li {
    display: inline;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    width: 432px;
    margin-left: 0;
    margin-right: 0; }

  #main-nav h2, #signup-form, #technologies header, #signup header, #technologies ul, #technologies .info, #advantages .advantage, #main-footer .sitemap > li {
    display: inline;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    width: 432px; }

  #main-header .slide img {
    display: inline;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    width: 320px; }

  #slider .pagination {
    position: relative;
    left: 56px;
    z-index: 1; }

  #technologies ul {
    margin-left: 0;
    margin-right: 0; }

  #technologies li figure {
    display: inline;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    width: 96px;
    margin-right: 0; }

  #technologies li .text {
    display: inline;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    width: 320px;
    margin-right: 0; }

  #page > article {
    display: inline;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    width: 432px; } }
@media (max-width: 767px) {
  #main-footer .sitemap > li:first-child {
    padding-left: 0; }

  #signup-form, #signup .info, #signup header, #technologies header, #technologies article, #page > article {
    position: static;
    left: 0; }

  #advantages .advantage img, #advantages .advantage .text {
    display: inline;
    float: left;
    margin-left: 8px;
    margin-right: 8px; } }
@media (min-width: 768px) {
  h1 {
    font-size: xx-large;
    line-height: 56px; }

  h2 {
    font-size: x-large;
    line-height: 28px; } }
@media (min-width: 768px) and (max-width: 979px) {
  #main-nav div, #slider .slide, #bottle, #advantages, #signup, #technologies, #main-footer .sitemap, #slider .controls, #page, #page .sidebar {
    /* @include debug; */
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    clear: both; }
    #main-nav div:after, #slider .slide:after, #bottle:after, #advantages:after, #signup:after, #technologies:after, #main-footer .sitemap:after, #slider .controls:after, #page:after, #page .sidebar:after {
      content: "";
      display: block;
      clear: both; }

  #main-nav h2, #main-nav ul, #main-nav li, #slider .pagination {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px; }

  #main-nav li {
    margin-left: 0;
    margin-right: 0; }

  #technologies li figure {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    margin-right: 0; }

  #technologies li .text {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    margin-right: 0; }

  #main-footer .sitemap > li {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px; }

  #page > aside ul {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 160px; }

  #page > article {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 520px;
    position: relative;
    left: 180px;
    z-index: 1; }

  #page .content .half {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 220px; }

  #page .content .half:nth-child(odd) {
    margin-left: 0; }

  #advantages .advantage, #signup-form [type="submit"], #technologies .info, #technologies li {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 160px; }

  #main-header .slide img {
    padding-left: 60px;
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 220px;
    padding-right: 60px; }

  #main-header .slide .text, #signup-email, #technologies ul {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 340px; }

  #signup-email {
    margin-left: 0; }

  #signup-form, #signup .info, #technologies header, #signup header, #technologies article {
    position: relative;
    left: 180px;
    z-index: 1;
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 520px; }

  #main-footer .sitemap > li:first-child {
    padding-left: 180px; }

  #slider .pagination {
    position: relative;
    left: 360px;
    z-index: 1; }

  #signup-form [type="submit"] {
    margin-right: 0; }

  #technologies li:nth-child(even), #technologies ul {
    margin-right: 0; }

  #technologies .info, #technologies li:nth-child(odd) {
    margin-left: 0; }

  #brand {
    margin-left: 0; }

  #brand + ul {
    margin-right: 0; }

  #advantages .advantage {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 700px; }

  #advantages .advantage img, #advantages .advantage .text {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px; }

  #technologies li {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 220px; }

  #signup-email {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 280px;
    margin-left: 0; }

  #technologies li:nth-child(odd) {
    margin-left: 0; }

  #technologies li:nth-child(even) {
    margin-right: 0; }

  #signup-form, #signup .info, #signup header, #technologies header, #technologies article, #technologies ul, #technologies .info {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 460px;
    margin-left: 0;
    margin-right: 0; }

  #signup-form, #signup .info, #signup header, #technologies header, #technologies article {
    position: relative;
    left: 240px;
    z-index: 1; }

  #technologies li figure {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    margin-right: 0; }

  #main-footer .sitemap > li:first-child {
    padding-left: 240px; }

  #page > aside {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 220px; }

  #page > article {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 460px;
    position: relative;
    left: 240px;
    z-index: 1; } }
@media (min-width: 980px)  and (max-width: 1199px) {
  #main-nav div, #slider .slide, #bottle, #advantages, #signup, #technologies, #main-footer .sitemap, #slider .controls, #page, #page .sidebar {
    /* @include debug; */
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    clear: both; }
    #main-nav div:after, #slider .slide:after, #bottle:after, #advantages:after, #signup:after, #technologies:after, #main-footer .sitemap:after, #slider .controls:after, #page:after, #page .sidebar:after {
      content: "";
      display: block;
      clear: both; }

  #main-nav h2, #main-nav ul, #main-nav li, #slider .pagination {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px; }

  #main-nav li {
    margin-left: 0;
    margin-right: 0; }

  #technologies li figure {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 60px;
    margin-right: 0; }

  #technologies li .text {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 140px;
    margin-right: 0; }

  #main-footer .sitemap > li {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 140px; }

  #page > aside ul {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 220px; }

  #page > article {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 700px;
    position: relative;
    left: 240px;
    z-index: 1; }

  #page .content .half {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px; }

  #page .content .half:nth-child(odd) {
    margin-left: 0; }

  #advantages .advantage, #signup-form [type="submit"], #technologies .info, #technologies li {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 220px; }

  #main-header .slide img {
    padding-left: 80px;
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    padding-right: 80px; }

  #main-header .slide .text, #signup-email, #technologies ul {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 460px; }

  #signup-email {
    margin-left: 0; }

  #signup-form, #signup .info, #technologies header, #signup header, #technologies article {
    position: relative;
    left: 240px;
    z-index: 1;
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 700px; }

  #main-footer .sitemap > li:first-child {
    padding-left: 240px; }

  #slider .pagination {
    position: relative;
    left: 480px;
    z-index: 1; }

  #signup-form [type="submit"] {
    margin-right: 0; }

  #technologies li:nth-child(even), #technologies ul {
    margin-right: 0; }

  #technologies .info, #technologies li:nth-child(odd) {
    margin-left: 0; }

  #page .content .half {
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 1200px) {
  #main-nav div, #slider .slide, #bottle, #advantages, #signup, #technologies, #main-footer .sitemap, #slider .controls, #page, #page .sidebar {
    /* @include debug; */
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    clear: both; }
    #main-nav div:after, #slider .slide:after, #bottle:after, #advantages:after, #signup:after, #technologies:after, #main-footer .sitemap:after, #slider .controls:after, #page:after, #page .sidebar:after {
      content: "";
      display: block;
      clear: both; }

  #main-nav h2, #main-nav ul, #main-nav li, #slider .pagination {
    display: inline;
    float: left;
    margin-left: 15px;
    margin-right: 15px; }

  #main-nav li {
    margin-left: 0;
    margin-right: 0; }

  #technologies li figure {
    display: inline;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 70px;
    margin-right: 0; }

  #technologies li .text {
    display: inline;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 170px;
    margin-right: 0; }

  #main-footer .sitemap > li {
    display: inline;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 170px; }

  #page > aside ul {
    display: inline;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 270px; }

  #page > article {
    display: inline;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 870px;
    position: relative;
    left: 300px;
    z-index: 1; }

  #page .content .half {
    display: inline;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 370px; }

  #page .content .half:nth-child(odd) {
    margin-left: 0; }

  #advantages .advantage, #signup-form [type="submit"], #technologies .info, #technologies li {
    display: inline;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 270px; }

  #main-header .slide img {
    padding-left: 100px;
    display: inline;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 370px;
    padding-right: 100px; }

  #main-header .slide .text, #signup-email, #technologies ul {
    display: inline;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 570px; }

  #signup-email {
    margin-left: 0; }

  #signup-form, #signup .info, #technologies header, #signup header, #technologies article {
    position: relative;
    left: 300px;
    z-index: 1;
    display: inline;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 870px; }

  #main-footer .sitemap > li:first-child {
    padding-left: 300px; }

  #slider .pagination {
    position: relative;
    left: 600px;
    z-index: 1; }

  #signup-form [type="submit"] {
    margin-right: 0; }

  #technologies li:nth-child(even), #technologies ul {
    margin-right: 0; }

  #technologies .info, #technologies li:nth-child(odd) {
    margin-left: 0; } }
