@font-face {
    font-family: 'PacificoRegular';
    src: url('../fonts/Pacifico-webfont.eot');
    src: url('../fonts/Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Pacifico-webfont.woff') format('woff'),
         url('../fonts/Pacifico-webfont.ttf') format('truetype'),
         url('../fonts/Pacifico-webfont.svg#PacificoRegular') format('svg');
    font-weight: bold;
    font-style: normal;
}
*{ outline:none; }
body{
	background:url('../img/footer-bg.png');
	color:#4c4c4c;
	font-family:Helvetica,Verdana,sans-serif;
	position:relative;
}
button::-moz-focus-inner,input::-moz-focus-inner{ border:none; }
h2 small{
	font-family:sans-serif;
	font-size:70%;
	font-weight:normal;
}
::selection {
	background: #eee;
	}
::-moz-selection {
	background: #eee;
}
#main-nav{
	background:#e5e5e5;
	box-shadow:inset 0 45px 30px -20px #fff,0 -8px 10px 5px #000;
	height:50px;
	line-height:50px;
	position:fixed;
	width:100%;
	z-index:4;
}
	#main-nav a{
		box-shadow:-1px 0 0 #fff,-2px 0 0 #e1e1e1;
		color:#4c4c4c;
		display:block;
		font-size:110%;
		font-weight:bold;
		height:50px;
		text-decoration:none;
		text-shadow:0 1px #fff;
		padding:0 20px;
	}
	#main-nav a:hover,#main-nav a:focus{
		background:#eee;
		box-shadow:inset 0 50px 30px -20px #fff,-1px 0 0 #fff,-2px 0 0 #e1e1e1;
	}
	#main-nav ul{ float:right; }
	#main-nav .lg_choice a{
		background:url('#') center no-repeat;
		box-shadow:-1px 0 0 #fff,-2px 0 0 #e1e1e1,1px 0 0 #fff,2px 0 0 #e1e1e1;
		overflow:hidden;
		position:relative;
		text-indent:200px;
		width:27px;
	}
		#main-nav .lg_choice a:hover,#main-nav .lg_choice a:focus{
			background:url('#') center no-repeat;
			box-shadow:-1px 0 0 #fff,-2px 0 0 #e1e1e1,1px 0 0 #fff,2px 0 0 #e1e1e1;
		}
		#main-nav .lg_choice .fr_FR{ background-image:url('../img/fr_FR.png'); }
			#main-nav .lg_choice .fr_FR:hover,#main-nav .lg_choice .fr_FR:focus{ background-image:url('../img/fr_FR-hover.png'); }
		#main-nav .lg_choice .en_US{ background-image:url('../img/en_US.png'); }
			#main-nav .lg_choice .en_US:hover,#main-nav .lg_choice .en_US:focus{ background-image:url('../img/en_US-hover.png'); }
	#main-nav .support,#main-nav .lg_choice{ position:relative; }
	#main-nav .support>a:after{
		content:"▼";
		font-size: 70%;
		height:50px;
		margin-left:5px;
	}
	#main-nav .login{ position:relative; }
	#main-nav .drop{
		border:1px solid #ccc;
		display:none;
		left:-12px;
		position:absolute;
		width: 150%;
	}
	#main-nav .toggled+.drop{ display:block; }
		#main-nav .drop a{
			background:#eee center no-repeat;
			border-left:1px solid #fff;
			border-top:1px solid #fff;
			box-shadow:inset 0 1px 0 #f5f5f5,inset 0 15px 20px -10px #fff;
			height:30px;
			line-height:30px;
			hyphens:none;
			word-wrap:normal;
			word-break:none;
		}
			#main-nav .drop a:hover,#main-nav .drop a:focus{ background-color:#fff; }
		#main-nav .drop li{
			display:block;
			float:none;
		}
		#main-nav .drop li+li{
			border-top:1px solid #ccc;
		}
	#brand a{
		background:url('../img/logo.png') center no-repeat;
		box-shadow:none;
		display:block;
		font-size:medium;
		height:50px;
		line-height:50px;
		padding:0 20px 0 0;
		overflow:hidden;
		text-indent:500px;
		width:277px;
	}
	/* Pixel ratio of 2. Background-size is 1/2 = 50% (of a 200px image) */
	@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
		#brand a{background:url('../img/logo@2x.png') center no-repeat;background-size: 50%}

	}
		#brand a:hover,#brand a:focus{
			background:url('../img/logo.png') center no-repeat;
			box-shadow:none;
		}
#main-header{
	background:url('../img/header-bg.png');
	padding-top:180px;
}
	#slider{
		background:rgba(255,255,255,.3);
		border-bottom:1px solid #f6f6f6;
		border-top:1px solid #f6f6f6;
		color:#7c7c7c;
		position:relative;
	}
		#slider:before{
			background:url('../img/big-shadow-top.png') center no-repeat;
			top:-12px;
			content:" ";
			display:block;
			height:11px;
			position:absolute;
			width:100%;
		}
		#slider:after{
			background:url('../img/big-shadow.png') center no-repeat;
			bottom:-12px;
			content:" ";
			display:block;
			height:11px;
			position:absolute;
			width:100%;
		}
		#bottle{ position:relative; }
		#bottle:before{
			background:url('../img/bottle-top.png') center no-repeat;
			content:" ";
			display:block;
			height:91px;
			width:65px;
			position:absolute;
			top:-91px;
			left:132px;
		}
		#slider .slide{ height:300px; }
		#slider a {
			color:#4C4C4C;
			text-decoration:none;
		}
		#slider a:hover {text-decoration:underline;}
		#slider .slide img{
			padding-top:20px;
			z-index:1;
		}
		#slider h2{
			color:#eee;
			font-family:'PacificoRegular',serif;
			font-size:420%;
			font-style:italic;
			line-height:120%;
			padding:40px 0;
			text-shadow:0 -1px 0 #fff,0 2px 2px #777,0 3px 0 #ddd,-1px 5px 5px #333;
		}
		#slider .text{
			font-size:120%;
			margin-bottom:20px;
		}
		#slider .pagination{
			position:relative;
			z-index:3;
		}
		#slider .controls a{
			background:rgba(0,0,0,.2);
			border-radius:8px;
			box-shadow:inset -2px 5px 3px rgba(0,0,0,.3),0 1px 0 #fff;
			display:block;
			float:left;
			height:16px;
			margin-bottom:20px;
			margin-right:16px;
			overflow:hidden;
			text-indent:100px;
			width:16px;
		}
			#slider .controls a:hover:before,#slider .controls a:focus:before,#slider .controls .activeSlide:before,#slider .controls .activeSlide:hover:before,#slider .controls .activeSlide:focus:before{
				background:#fff;
				border-bottom:1px solid #777;
				border-radius:5px;
				content:" ";
				display:block;
				height:10px;
				margin:3px 0 0 3px;
				width:10px;
			}
			#slider .controls .activeSlide:before{ background:url('../img/header-bg.png'); }
#advantages{
	background:url('../img/bottle-repeat.png') 140px repeat-y;
	padding-top:30px;
}
	#advantages .advantage{
		background:#fcfcfc;
		border-radius:4px;
		box-shadow:0 0 0 1px #e1e1e1;
		height:450px;
		margin-top:20px;
		padding:10px 0;
		position:relative;
		z-index:3;
	}
	#advantages .advantage:after{
		background:url('../img/medium-shadow.png') center no-repeat;
		bottom:-10px;
		content:" ";
		display:block;
		height:10px;
		position:absolute;
		width:100%;
	}
		#advantages .advantage h3{
			font-family:serif;
			font-style:italic;
			padding:17px 15px 15px;
			text-align:center;
		}
		#advantages .advantage .content{
			text-align:justify;
			padding:0 20px;
		}
		#advantages .advantage img{
			display:block;
			padding-top:20px;
			height:180px;
			margin:auto;
		}
#main{
	background:#fff;
	border-top:1px solid #e1e1e1;
	margin-top:-30px;
	position:relative;
	z-index:2;
}
	#signup{
		background:url('../img/bottle-repeat.png') 140px repeat-y;
		padding-top:40px;
	}
	#signup h2{
		border-bottom:1px solid #ddd;
		font-family:serif;
		font-style:italic;
		padding:40px 0 10px;
		margin-bottom:20px;
	}
	#signup .info{
		margin-bottom:20px;
	}
	#signup-form{
		background:#e8e8e8;
		border-radius:4px;
		box-shadow:inset 0 1px 1px #888;
		color:#4c4c4c;
		height:50px;
	}
	#signup-form img {
		display:none;
		padding-top: 12px;
		float: right;
		padding-right: 20px;
	}
		#signup-email{
			background:none;
			color:#4c4c4c;
			font-size:170%;
			font-weight:bold;
			height:50px;
			text-indent:10px;
			text-shadow:0 1px 0 #fff;
		}
			#signup-email::-webkit-input-placeholder{ color:#4c4c4c; }
			#signup-email:-moz-placeholder{ color:#4c4c4c; }
			p#subscribe_error_401{
				display:none;
				color: #4C4C4C;
				font-size: 170%;
				font-weight: bold;
				height: 50px;
				text-indent: 10px;
				text-shadow: 0 1px 0 white;
				padding-top: 16px;
			}
			p#subscribe_error_404{
				display:none;
				color: #4C4C4C;
				font-size: 170%;
				font-weight: bold;
				height: 50px;
				text-indent: 10px;
				text-shadow: 0 1px 0 white;
				padding-top: 16px;
			}
			p#subscribe_error_500{
				display:none;
				color: #4C4C4C;
				font-size: 170%;
				font-weight: bold;
				height: 50px;
				text-indent: 10px;
				text-shadow: 0 1px 0 white;
				padding-top: 16px;
			}
			p#subscribe_success{
				display:none;
				background-image:url('/media/valid-mail.png');
				background-repeat:no-repeat;
				background-position:98% 34%;
				color: #4C4C4C;
				font-size: 170%;
				font-weight: bold;
				height: 50px;
				text-indent: 10px;
				text-shadow: 0 1px 0 white;
				padding-top: 16px;
			}
	#signup [type="submit"]{
		background:#f7f7f7;
		color:#4c4c4c;
		border-radius:4px;
		box-shadow:inset 0 40px 25px -20px #fff,0 5px 10px -7px #000;
		font-size:170%;
		font-weight:bold;
		height:40px;
		left:-5px;
		margin-top:5px;
		position:relative;
		text-transform:uppercase;
		cursor: pointer;
	}
	#signup [type="submit"]:hover{
		background:#E1E1E1;
	}
	#technologies{ background:url('../img/bottle-repeat.png') 140px repeat-y; }
		#technologies .text h3+*{
			color:#7C7C7C;
			font-style:italic;
			text-decoration: none
		}
		#technologies a{ display:block; height:70px; }
		#technologies a:hover h3+*{
			text-decoration: underline
		}
		#technologies h2{
			border-bottom:1px solid #ddd;
			font-family:serif;
			font-style:italic;
			padding:40px 0 10px;
			margin-bottom:20px;
		}
		#technologies h3{
			color:#404040;
			font-family:serif;
			font-style:italic;
		}
		#technologies .info{ margin-bottom:20px; }
			#technologies ul li{
				background:#fcfcfc;
				border-radius:4px;
				box-shadow:0 0 0 1px #e1e1e1;
				margin-bottom:20px;
				padding:10px 0;
			}
			#technologies ul li:hover{background-color:#EEE}
			#technologies ul .text p{
				padding-right:10px;
			}
#main-footer{
	box-shadow:inset 0 -150px 150px -80px #731512;
}
	#main-footer .sitemap{
		min-height:251px;
		padding:30px 0;
		position:relative;
	}
		#main-footer .sitemap:before{
			background:url('../img/bottle-bottom.png') center no-repeat;
			content:" ";
			display:block;
			height:301px;
			left:29px;
			position:absolute;
			top:0;
			width:270px;
		}
	#main-footer h3{
		color:#842623;
		font-family:serif;
		font-size:130%;
		font-style:italic;
		text-shadow:0 1px 0 #e06460,0 -1px 0 #3b110f;
	}
	#main-footer li ul{ margin-bottom:20px; position:relative; z-index:2; }
	#main-footer li{
		font-weight:bold;
		line-height:160%;
		list-style:none;
		text-shadow:0 1px 1px #3b110f;
	}
		#main-footer li a{
			color:#eee;
			text-decoration:none;
		}
/* media queries */
@media (max-width: 479px){
		#brand a,#brand a:hover,#brand a:focus{ background-size:60%; }
		#brand+ul>li>a{
			margin:0 5px;
			padding:0;
		}
		#brand+ul{
			font-size:80%;
		}
		#main-nav .support>a:after{
			border-top:5px solid #4c4c4c;
			margin-left:3px;
			top:10px;
		}
	#advantages .advantage img{
		display:block;
		float:none;
		height:130px;
		margin:auto;
	}
	#advantages .advantage h3{ display:block; }
	#advantages .advantage .content{
		display:none;
	}
	#signup [type="submit"]{
		font-size:140%;
		margin-left:5px;
		width:280px;
	}
}
@media (min-width: 480px) and (max-width: 767px){
	#brand+ul>li>a{
		margin:0 20px 0 0;
		padding:0 5px;
	}
	#advantages .advantage img{
		height:135px;
		margin:0 15px;
	}
	#advantages .advantage h3{ text-align:left; }
	#signup [type="submit"]{
		font-size:160%;
		margin-left:6px;
		width:420px;
	}
}
@media (max-width: 767px){
	#bottle:before{ display:none; }
	#advantages,#signup,#technologies{ background:none; }
	#main-footer .sitemap:before{ display:none; }
	#main-nav{ box-shadow:inset 0 40px 25px -20px #fff,0 -10px 10px 5px #000,0 30px 0 #e8e8e8; }
		#main-nav a,#main-nav .lg_choice a{
			box-shadow:none;
			font-weight:normal;
		}
	#main-nav .lg_choice{
	   position:absolute;
	   right:0;
	   top:0;
	}
		#main-nav .lg_choice a{
			height:50px;
		}
		#main-nav .lg_choice a:hover,#main-nav .lg_choice a:focus{
			box-shadow:none;
		}
	#main-nav .drop a{ padding:0 6px; width:30px; }
		#main-nav ul{
			float:left;
			line-height:30px;
		}
		#brand a{
			width:100%;
		}
	#main-header{ padding-top:120px; }
	#advantages .advantage{ height:auto; }
	#signup-form{ height:30% }
	#signup [type="submit"]{
		position:static;
	}
	#signup-email{
		text-align: center;
		font-size:150%;
	}
	p#subscribe_success,
	p#subscribe_error_401,
	p#subscribe_error_404,
	p#subscribe_error_500{font-size:120%; text-align:center; text-indent:0}
}
@media (min-width: 768px){}
@media (min-width: 768px) and (max-width: 979px){
	#signup [type="submit"]{
		font-size:110%;
	}
	#signup-email{
		font-size:130%;
	}
	#bottle:before{ left:117px; }
	#advantages,#signup,#technologies{ background-position:125px; }
	#main-footer .sitemap:before{ left:14px; }
	#main-nav a{
		font-weight:normal;
		padding:0 10px;
	}
	#brand a{
		background-size:80%;
		width:250px;
		padding:0;
	}
	#slider .slide img{ padding-top:160px; }
	#advantages .advantage{ height:auto; }
	#advantages .advantage h3{ text-align:left; }
	#advantages .advantage img{
		height:135px;
		margin:0 20px;
	}
	p#subscribe_success,
	p#subscribe_error_401,
	p#subscribe_error_404,
	p#subscribe_error_500{font-size:120%; text-align:center; text-indent:0}
}
@media (min-width: 980px)  and (max-width: 1199px){
	#bottle:before{ left:127px; }
	#advantages,#signup,#technologies{ background-position:135px; }
	#main-footer .sitemap:before{ left:24px; }
	#slider .slide img{ padding-top:60px; }
	#advantages .advantage{ height:450px; }
	#advantages .advantage .content{padding:0px 10px 0px 10px}
	#advantages .advantage img{
		height:135px;
	}
	#signup [type="submit"]{
		font-size:130%;
	}
	
}
@media (min-width: 1200px){
	#main-nav .drop{ left:-17px; }
	#signup [type="submit"]{
		font-size:170%;
	}
}
