*{ outline:none; }
body{
	background:url('../img/footer-bg.png');
	color:#4c4c4c;
	font-family:sans-serif;
	position:relative;
}
button::-moz-focus-inner,input::-moz-focus-inner{ border:none; }
#main-nav{
	background:#eee;
	box-shadow:inset 0 40px 25px -20px #fff,0 -10px 10px 5px #000;
	height:50px;
	line-height:50px;
	position:fixed;
	width:100%;
	z-index:4;
}
	#main-nav a{
		box-shadow:-1px 0 0 #fff,-2px 0 0 #e1e1e1;
		color:#4c4c4c;
		font-size:120%;
		font-weight:bold;
		text-decoration:none;
		text-shadow:0 1px #fff;
	}
	#main-nav a, #main-nav .login a{
		display:block;
		padding:0 20px;
	}
	#main-nav ul{ float:right; }
	#main-nav .login{ box-shadow:-1px 0 0 #fff,-2px 0 0 #e1e1e1,1px 0 0 #fff,2px 0 0 #e1e1e1; }
	#brand{
		font-size:medium;
		line-height:inherit;
	}
#main-header{
	background:url('../img/header-bg.png');
	padding-top:50px;
}
	#slider{
		color:#7c7c7c;
		height:340px;
		padding:100px 0 50px;
	}
		#slider h2{
			color:#eee;
			font-family:serif;
			font-size:480%;
			font-style:italic;
			line-height:120%;
			padding:30px 0;
			text-shadow:0 -1px 0 #fff,0 2px 2px #777,0 3px 0 #ddd,-1px 5px 5px #333;
		}
		#slider .controls a{
			background:rgba(0,0,0,.2);
			border-radius:8px;
			box-shadow:inset -2px 5px 3px rgba(0,0,0,.3),0 1px 0 #fff;
			display:block;
			float:left;
			height:16px;
			margin-right:16px;
			overflow:hidden;
			text-indent:100px;
			width:16px;
		}
			#slider .controls a:hover:before,#slider .controls a:focus:before,#slider .controls .active:before{
				background:url('../img/header-bg.png');
				border-bottom:1px solid #777;
				border-radius:5px;
				content:" ";
				display:block;
				height:10px;
				margin:3px 0 0 3px;
				width:10px;
			}
			#slider .controls .active:hover:before,#slider .controls .active:focus:before{ background:#fff; }
	#advantages .advantage{
		background:#fff;
		border-radius:4px;
		box-shadow:0 0 0 1px #e1e1e1;
		height:400px;
		margin-bottom:20px;
		padding:10px 0;
		position:relative;
		z-index:3;
	}
		#advantages .advantage h3{
			font-family:serif;
			font-style:italic;
			text-align:center;
		}
		#advantages .advantage h3, #advantages .advantage .content{
			padding:15px 20px 0;
		}
		#advantages .advantage img{
			background:#eee;
			display:block;
			height:180px;
			margin:auto;
			width:260px;
		}
#main{
	background:#fff;
	border-top:1px solid #e1e1e1;
	margin-top:-50px;
	position:relative;
	z-index:2;
}
	#signup-email{
		background:#e8e8e8;
		border-radius:4px;
		box-shadow:inset 0 1px 1px #888;
		color:#4c4c4c;
		font-size:170%;
		font-weight:bold;
		height:50px;
		text-indent:10px;
		text-shadow:0 1px 0 #fff;
	}
		#signup-email::-webkit-input-placeholder{ color:#4c4c4c; }
		#signup-email:-moz-placeholder{ color:#4c4c4c; }
	#signup [type="submit"]{
		background:#f7f7f7;
		color:#4c4c4c;
		border-radius:4px;
		box-shadow:inset 0 40px 25px -20px #fff,0 5px 10px -7px #000;
		font-size:170%;
		font-weight:bold;
		height:40px;
		left:-5px;
		margin-top:5px;
		position:relative;
		text-transform:uppercase;
	}
		#technologies h2{
			border-bottom:1px solid #ddd;
			font-family:serif;
			font-style:italic;
			line-height:160%;
			padding:30px 0 10px;
			margin-bottom:20px;
		}
#main-footer{ padding:30px 0;}
	#main-footer h3{
		color:#842623;
		font-family:serif;
		font-size:130%;
		font-style:italic;
		text-shadow:0 1px 0 #e06460,0 -1px 0 #3b110f;
	}
	#main-footer li{
		font-weight:bold;
		line-height:160%;
		list-style:none;
		text-shadow:0 1px 1px #3b110f;
	}
		#main-footer li a{
			color:#eee;
			text-decoration:none;
		}
